<head/><md-dialog aria-label="US Drug Dialog">

    <md-content class="dialog-content">
        <md-subheader class="sticky-no-effect">Input Correction</md-subheader>

        <p>{{ dialog.message }}</p>

    </md-content>

    <div class="dialog-actions">
        <md-button href="http://kellerberrin-doc.appspot.com"
                         target="_blank"
                         class="md-button-colored" hide show-md>
            More Info
        </md-button>
        <span flex></span>
        <md-button ng-click="yesDialog()" class="md-theme-green">
        <span>Yes</span>
        </md-button>
        <md-button ng-click="noDialog()" class="md-theme-red">
        <span>No</span>
        </md-button>
    </div>

</md-dialog>
