<k-modal-dialog id="k-search-dialog" displaydialog="displaySearchDialog">

    <div id="k-search-dialog-content">

        <div id="k-search-dialog-heading">Confirm Search</div>

        <div id="k-search-dialog-text">{{ displaySearchDialog.reason }}</div>

        <div class="k-search-dialog-actions">

            <button id="k-search-dialog-yes" ng-click="performSearchAnyway()">Yes</button>
            <button id="k-search-dialog-no" ng-click="acceptValidation()">No</button>

        </div>

    </div>

</k-modal-dialog>
