<div id="k-search-results">

    <div id="k-results-container" ng-repeat="drugRecord in results.drugArray track by $index">

        <div class="k-display-drug">

            <!-- Name and Company -->

            <div class="k-display-header-bar">

                <button ng-click="nameSearch(drugRecord.name)"
                        class="k-display-name-search k-material-fab"
                        ng-class="{ searchactive : results.searchActive }">
                </button>

                <div class="k-display-name-label">

                    <div class="k-display-drug-name">

                        {{ drugRecord.name }}

                    </div>

                    <div class="k-display-labeler-name">

                        {{ drugRecord.labeler }}

                    </div>

                </div>

            </div>

            <!-- Name and Company -->

            <div class="k-divider"></div>

            <!-- Image and Price -->

            <div class="k-display-image-price">

                <div class="k-display-drug-image"
                     ng-class="{ hasimage: drugRecord.hasimage}"
                     ng-click="imageDialog(drugRecord)">


                    <img class="k-display-small-image" ng-src="{{drugRecord.smallimageurl}}">

                </div>

                <k-modal-dialog show="false" width="80%" height="60%">
                </k-modal-dialog>

            </div>

            <!-- Image and Price -->

            <div class="k-divider"></div>

            <!-- Active Ingredients -->

            <div class="k-display-active-ingredients" ng-class="{ hasactive : drugRecord.hasActive }">

                <div class="k-display-active-label">

                    <button ng-click="ingredientSearch(drugRecord)"
                            class="k-display-active-search k-material-fab"
                            ng-class="{ searchactive : results.searchActive , validselection : validSelection(drugRecord) }">
                    </button>

                    <div class="k-display-active-label-text">Active Ingredients</div>

                </div>


                <div class="k-display-ingredient-panel"
                     ng-repeat="Ingredient in drugRecord.activeArray track by $index">

                    <div class="k-display-ingredient-line" layout="horizontal">

                        <button class="k-display-ingredient-name k-active-button"
                                ng-click="Ingredient.activeselected = !Ingredient.activeselected"
                                ng-class="{ activeselected : Ingredient.activeselected }">
                            <!-- Write out the ingredient -->
                            {{ Ingredient.activeName }}
                            <img class="k-display-ingredient-name-icon"
                                 src="/images/icons/search24.svg" width="12px" height="12px"/>
                        </button>

                        <button class="k-display-ingredient-strength k-active-button"
                                ng-click="Ingredient.strengthselected = !Ingredient.strengthselected"
                                ng-class="{ strengthselected : (Ingredient.strengthselected && Ingredient.activeselected) }">
                            <!-- Write out the strength -->
                            {{ Ingredient.strength }} {{ Ingredient.units }}
                            <img class="k-display-ingredient-strength-icon"
                                 src="/images/icons/search24.svg" width="12px" height="12px"/>
                        </button>

                    </div>

                </div>

            </div>
            <!-- ingredient panel -->

            <div class="k-divider"></div>

            <!-- Package -->

            <div class="k-display-package-container">

                <div class="k-display-package-description">

                    {{ drugRecord.package }}

                </div>

            </div>
            <!-- Package -->

            <div class="k-divider"></div>

            <!-- NDC -->

            <div class="k-display-ndc-container">

                <button ng-click="ndc9Search(drugRecord.ndc9)"
                        class="k-display-ndc9-search k-material-fab"
                        ng-class="{ searchactive : results.searchActive }">
                </button>

                <div class="k-display-ndc-label">

                    <div class="k-display-ndc-title">

                        National Drug Code

                    </div>

                    <div class="k-display-ndc-codes">

                        <div class="k-display-ndc">

                            <div class="k-display-ndc-title">NDC 10</div>

                            <div class="k-display-ndc-value">

                                {{ drugRecord.ndc }}

                                <span class="k-display-ndc-format">({{ drugRecord.format }})</span>

                            </div>

                        </div>

                        <div class="k-display-ndc11">

                            <div class="k-display-ndc11-title">

                                NDC 9<span class="k-display-ndc11-package">-NDC 11</span>

                            </div>

                            <div class="k-display-ndc11-value">

                                <span class="k-display-ndc11-ndc9">{{drugRecord.ndc9}}</span>-{{ drugRecord.ndc11package }}

                                <span class="k-display-ndc11-format">(5-4-2)</span>

                            </div>



                        </div>

                    </div>

                </div>

            </div>

            <!-- NDC -->

        </div>

    </div>
    <!-- ng-repeat -->

</div>
<!-- ************ AJAX *******************-->
