<div id="k-display-results">

    <material-content id="k-search-results" class="material-content-padding">

        <div id="k-results-container" ng-repeat="drugRecord in requestResults.drugArray track by $index">

            <material-whiteframe class="k-display-drug material-whiteframe-z1">

                <div id="k-display-drug-name">

                    {{ drugRecord.name }}

                </div>

                <div>

                    Labeler: {{ drugRecord.labeler }}

                </div>

                <div id="k-display-drug-image" ng-class="{ hasimage: drugRecord.hasimage}">

                    <img ng-src="{{drugRecord.smallimageurl}}">

                </div>

                <div id="k-drug-ingredient-panel" ng-repeat="Ingredient in drugRecord.activeArray track by $index">

                    <div> <!-- Individual ingredient -->

                        <!-- Write out the ingredient -->
                        {{ Ingredient.activeName }}; {{ Ingredient.strength }} {{ Ingredient.units }}

                    </div>

                </div>
                <!-- ingredient panel -->

                <div> <!-- Dosage Route -->

                    Dosage / Route: {{ drugRecord.dosage }} / {{ drugRecord.route }}

                </div>
                <!-- Dosage Route -->

                <div> <!-- Package -->

                    Package: {{ drugRecord.package }}

                </div>


                <div>

                    National Drug Code: {{ drugRecord.ndc }} ({{ drugRecord.format }})

                </div>

            </material-whiteframe>

        </div>
        <!-- ng-repeat -->

    </material-content>

</div>
<!-- ************ AJAX *******************-->
