<!-- Retrieves and verifies the search data of the Drug Search application -->

<div id="k-drug-toolbar" ng-controller="DrugSearchParams">

    <md-toolbar id="k-icon-toolbar">

        <div id="k-icon-toolbar-tools" class="md-toolbar-tools">

            <md-button class="md-theme-light-blue">
                <img src="/images/icons/white_bars24.svg" width="24" height="24">
            </md-button>

            <span id="k-icon-toolbar-title" flex>PharmCat</span>

            <md-button class="md-theme-light-blue">
                <img src="/images/icons/white_barcode24.svg" width="24" height="24">
            </md-button>

            <md-button class="md-theme-light-blue">
                <img src="/images/icons/white_search24.svg" width="24" height="24">
            </md-button>

        </div>

    </md-toolbar>

    <md-toolbar id="k-search-toolbar">

        <div id="k-search-type-toolbar" class="md-toolbar-tools">

            <div id="k-search-title">Search by</div>

            <select id="k-md-searchtype"
                    ng-model="search.selectedsearchtype"
                    ng-options="s.typeprompt for s in prompts.getsearchtypes()"
                    class="md-theme-light-blue">
            </select>

        </div>

        <!-- Horizontal -->

        <div id="k-search-text-toolbar" class="md-toolbar-tools">

            <md-text-float id="k-md-searchtext"
                           label="Enter Search Text"
                           ng-keyup="($event.which === 13)?getParamsSearch():getForwardPrompt()"
                           ng-model="search.searchtext">
            </md-text-float>


            <md-button id="k-md-search"
                       class="md-button-fab"
                       ng-click="getParamsSearch()"
                       ng-class="{ searchActive : results.searchActive }">
            </md-button>

        </div>

    </md-toolbar>


    <div id="k-search-prompt-anchor">

        <md-content id="k-search-prompt-container" class="md-padding">

            <div id="k-search-history-list"
                 ng-class="{ historyActive : prompts.gethistoryactive() }">

                <div class="k-search-history-title">Search History</div>

                <div class="k-search-history-array"
                     ng-repeat="history in prompts.gethistoryarray() track by $index">

                    <div class="k-search-history-item"
                         ng-click="performSearch(history)">

                        <div class="k-search-history-type">

                            {{ prompts.getdisplaytype(history.searchtype).typeprompt }}

                        </div>

                        <div class="k-search-history-value">

                            {{ history.searchstring }}

                        </div>

                    </div>

                    <md-divider></md-divider>

                </div>

            </div>


            <div id="k-search-prompt-list"
                ng-class="{ promptActive : prompts.getpromptactive() }">

                <div class="k-search-prompt-array"
                     ng-repeat="prompt in prompts.getpromptarray() track by $index">

                    <div class="k-search-prompt-item"
                         ng-click="performSearch(prompt)">

                        <div class="k-search-prompt-type">

                            {{ prompts.getdisplaytype(prompt.searchtype).typeprompt }}

                        </div>

                        <div class="k-search-prompt-value">

                            {{ prompt.searchstring }}

                        </div>

                    </div>

                    <md-divider></md-divider>

                </div>

            </div>

        </md-content>

    </div>

</div>
