<!-- Retrieves and verifies the search data of the Drug Search application -->

    <div id="k-drug-toolbar" ng-controller="DrugSearchParams">

        <material-toolbar id="k-icon-toolbar">
            <div id="k-icon-toolbar-tools" class="material-toolbar-tools">
                <material-button class="material-theme-light-blue">
                    <img src="/images/icons/white_bars24.svg" width="24" height="24">
                </material-button>
                <span id="k-icon-toolbar-title" flex>PharmCat</span>
                <material-button class="material-theme-light-blue">
                    <img src="/images/icons/white_barcode24.svg" width="24" height="24">
                </material-button>
                <material-button class="material-theme-light-blue">
                    <img src="/images/icons/white_search24.svg" width="24" height="24">
                </material-button>
            </div>
        </material-toolbar>

        <material-toolbar id="k-search-toolbar" scroll-shrink class="material-medium">

            <div id="k-search-type-toolbar" class="material-toolbar-tools">

                <div id="k-search-title">Search by</div>

                <select id="k-md-searchtype" ng-model="search.selectedsearchtype"
                        ng-options="s.typeprompt for s in searchtypes"
                        class="material-theme-light-blue">
                </select>

            </div>

            <!-- Horizontal -->

            <div id="k-search-text-toolbar" class="material-toolbar-tools">

                <material-input-group class="material-input-group-inverted">
                    <label for="k-md-searchtext">Enter Search Text</label>
                    <material-input id="k-md-searchtext" type="search" ng-model="search.searchtext"></material-input>
                </material-input-group>

                <material-button id="k-md-search" ng-click="getParamsSearch()"
                                 class="material-button-fab"
                                 ng-class="{ searchactive: searchactive}">
                    <img src="/images/icons/search24.svg" width="24" height="24">
                </material-button>

            </div>

        </material-toolbar>

    </div>
