
    <!-- Defines the header are of the Drug Search application -->

    <nav id="k-drug-toolbar">

        <material-toolbar class="material-medium">

            <div class="material-toolbar-tools">
                    
                <div id="k-search-title">Search by</div>

    		    <material-button id="k-searchtype-dropdown" 
    		                     class="k-drop-down-wrapper material-button-raised material-theme-light-blue" 
    		                     ng-click="updateType()"
    		                     layout="horizontal" >
                    <div layout="horizontal">
        			    <span>Name</span>
                        <material-icon icon="/images/icons/caret-down-24.svg" style="width: 24px; height: 24px;"></material-icon>
                    </div> <!-- Horizontal -->
    		        <ul class="dropdown">
    				    <li><material-button>Name</material-button></li>
    				    <li><material-button>Ingredient</material-button></li>
    				    <li><material-button>Code (NDC)</material-button></li>
    			    </ul>
                </material-button>
            
            </div> <!-- Horizontal -->

            <div class="material-toolbar-tools">

                <material-input-group class="material-input-group-inverted">
                    <label for="k-md-searchtext">Enter Search Text</label>                    
                    <material-input id="k-md-searchtext" type="search" ng-model="model.search.text"></material-input>
                </material-input-group>

                <material-button id="k-md-search" ng-click="performSearch()" class="material-button-fab material-theme-light-blue">
                    <material-icon icon="/images/icons/search24.svg" style="width: 24px; height: 24px;"></material-icon>
                </material-button>

            </div>

        </material-toolbar>

    </nav>                    


