<!-- Macro definitions used by JinJA -->

<!-- Dynamically create input html -->
{% macro input(label, type, name, namecount, value, active='') %}
    {% set namevar = name ~ namecount -%}
    <input type="{{ type }}" id="{{ namevar }}" value="{{ value }}" {{active}}> {{ label }}
{%- endmacro %}

<!-- Create the record count text -->
{% macro recordcount(text, arraysize) -%}
    {% set recordcount = text ~ arraysize ~ " drug(s) (100 max)" -%}
    {{ recordcount }}
{%- endmacro %}

<!-- Create an indexed id string -->
{% macro indexedId(idname, index) -%}
    {% set formid = idname ~ "-" ~ index -%}
    "{{ formid }}"
{%- endmacro %}


{% autoescape true %}

    <!-- Data (AJAX) HTML section begins --> 

    <div id="k-search-results">

        <div class="row">

            <div class="large-12 columns">

                {% include "DrugScreenDivider.html" %} 

                <div id="k-results-container">

                    {% set DrugCount = 0 %}    
                    {% for NDCEnhanced in NDCEnhancedArray %}

                        {% set DrugCount = DrugCount + 1 %}  
                        {% include "DrugDisplaySingle.html" %} 
            
                    {% endfor %}

                </div>

            </div>   <!-- large 12 columns -->

        </div>   <!-- row -->

    </div>
    <script>$(document).ready(k_initializeResults("#k-search-results", {{ NDCEnhancedArraySize }} ));</script> 
                
<!-- End of Data (AJAX) Section -->

{% endautoescape %}
