
    <material-whiteframe class="k-display-drug material-whiteframe-z1">

        <div id = "k-display-drug-name">
        
            {{ NDCEnhanced.NDCRecord.proprietaryname }}
        
        </div>

        <div>

            Labeler: {{ NDCEnhanced.NDCRecord.labellername }}

        </div>
               
    <!-- Have 1 or more drug ingredients -->
        {% if NDCEnhanced.ActiveList is NotEmptyArray %}


            <div id="k-drug-ingredient-panel">

            <!-- Loop through the ingredients --> 

                {% set Count = 1 %}                
                {% for Ingredient in NDCEnhanced.ActiveList %}

                    <div> <!-- Individual ingredient -->
                        
                    <!-- Write out the ingredient -->
                        {{ Ingredient[0] }}; {{ Ingredient[1] }} {{ Ingredient[2] }}

                        {% set Count = Count + 1 %}

                    </div> 

                {% endfor %}
                
            </div> <!-- ingredient panel -->

        {% endif %} <!-- 1 or more drug ingredients -->
            
        <div> <!-- Dosage Route -->
        
            Dosage / Route: {{ NDCEnhanced.NDCRecord.dosageformname }} / {{ NDCEnhanced.NDCRecord.routename }}

        </div> <!-- Dosage Route -->
        <div> <!-- Package -->

            Package: {{ NDCEnhanced.NDCRecord.packagedescription }}

        </div> 


        <div>

            National Drug Code: {{ NDCEnhanced.NDCRecord.ndc }} ({{ NDCEnhanced.NDCRecord.format }})

        </div>

    </material-whiteframe>

