@import "material-local";

/*
* Global definitions (don't use defaults)
*/

* {
  margin: 0;
  padding: 0;
  border: none;
}

* {
  @include box-sizing(border-box);
}

/*
* The class for k-active-buttons.
*/

.k-active-button {

  @include MaterialBoxShadow(2);
  @include transition(all 0.25s ease-in-out);
  @include border-radius(4px);
  border: none;
  margin: auto auto;
  padding: 0;

  &:hover {

    @include MaterialBoxShadow(3);
    @include translate(0px, -2px);

  }

}

/*********************************************************************************************
*
*
* Menu Bar Stuff
*
*
************************************************************************************************/

$K-Top-Menu-Background-color: $K-PRIMARY-COLOR-900;
$K-Menu-Background-color: $K-PRIMARY-COLOR-500;
$K-Toolbar-Title-color: $K-ACCENT-COLOR-100;
$K-Toolbar-Icon-Background-Color: $md-light-blue-500;
$K-SearchButton-Active-color: $K-ACCENT-COLOR-100;
$K-SearchButton-Inactive-color: $md-light-blue-500;
$K-Menu-Text-color: white;
$K-Input-Text-Color: white;
$K-Input-Border-Color: $K-PRIMARY-COLOR-900;
$K-Input-Active-Border-Color: $K-ACCENT-COLOR-100;
$K-Icon-Color: white;
$K-Prompt-Type_color: $K-PRIMARY-COLOR-700;
$K-Prompt-History-Title-Color: lighten($K-ACCENT-COLOR-100, 15%);
$K-Prompt-Prompt-Title-Color: lighten($md-light-blue-500, 15%);
$K-History-Item-Active-Color: $K-ACCENT-COLOR-100;
$K-Prompt-Item-Active-Color: $md-light-blue-500;
$K-Search-Prompt-Dismiss-Color: lighten($K-ACCENT-COLOR-100, 15%);
$K-Search-Type-Color: white;
$K-Search-Type-Background-Color: $md-light-blue-500;

#k-drug-toolbar {

  @include MaterialBoxShadow(2);
  position: relative;
  z-index: 9;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $K-Menu-Text-color;
  background-color: $K-Menu-Background-color;

  & #k-icon-toolbar-tools {

    height: 40px;
    width: 100%;
    background-color: $K-Top-Menu-Background-color;

    & #k-menu-icon-button {

      float: left;
      height: 30px;
      width: 30px;
      margin: 5px 10px 5px 10px;
      background-image: url("/images/icons/white_bars24.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-Toolbar-Icon-Background-Color;

    }

    & #k-icon-toolbar-title {

      float: left;
      color: $K-Toolbar-Title-color;
      font-weight: 700;
      font-size: 1.8em;
      margin: auto 10px;

    }

    & #k-icon-barcode-button {

      float: right;
      height: 30px;
      width: 30px;
      margin: 5px 10px 5px 10px;
      background-image: url("/images/icons/white_barcode24.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-Toolbar-Icon-Background-Color;

    }

    & #k-icon-search-button {
      // Important Note - The right-most button needs to be floated right first.

      float: right;
      height: 30px;
      width: 30px;
      margin: 5px 10px 5px 10px;
      background-image: url("/images/icons/white_search24.svg");
      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-Toolbar-Icon-Background-Color;

    }

  }

  & #k-search-toolbar {

    font-size: 1.3em;
    height: 4em;
    width: 100%;
    background-color: $K-Menu-Background-color;

    & #k-search-type-toolbar {

      width: 100%;
      height: 2em;
      margin: 0.5em 0 0 0.75em;
      padding: 0;

      & #k-search-title {

        float: left;
        height: 1.5em;
        text-align: left;
        margin: 0;
        padding: 0;

      }

      & #k-search-searchtype {

        @include border-radius(4px);
        float: left;
        margin-left: 0.5em;
        height: 1.5em;
        color: $K-Search-Type-Color;
        background-color: $K-Search-Type-Background-Color;
        border: solid 2px $K-Input-Border-Color;
        cursor: pointer;

        &:focus {

          border-color: $K-Input-Active-Border-Color;

        }

        &:hover {

          border-color: $K-Input-Active-Border-Color;

        }

      }

    }

    & #k-search-text-toolbar {

      width: 100%;
      height: 2em;
      margin: 0 0 0 0.75em;
      padding: 0;

      // Set the the input text colors.

      & #k-search-searchtext {

        @include border-radius(4px);
        float: left;
        height: 1.5em;
        width: 14em;
        margin: 0;
        padding: 0 0 0 0.3em;
        color: $K-Input-Text-Color;
        border: solid 2px $K-Input-Border-Color;
        background-color: $K-Search-Type-Background-Color;

        &:focus {

          border-color: $K-Input-Active-Border-Color;

        }

        &:hover {

          border-color: $K-Input-Active-Border-Color;

        }

      }

      & #k-md-search {

        float: left;
        position: relative;
        margin: 0 0 0 0.5em;
        top: -0.3em;
        background-image: url("/images/icons/search24.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $K-SearchButton-Inactive-color;

        &.searchActive {
          // Important! this class is set when the endpoints request is active.

          background-color: $K-SearchButton-Active-color;

        }

      }

    }

  }

  & #k-search-prompt-anchor {

    position: relative;

    & #k-search-prompt-container {

      @include MaterialBoxShadow(3);
      position: absolute;
      top: 1em;
      left: 1em;
      width: 20em;
      background-color: white;

      & #k-search-prompt-list {

        display: none;

        &.promptActive {

          display: block;

        }

        & #k-search-prompt-title {

          color: $md-black-primary-Text;
          text-align: center;
          height: 2em;
          background-color: $K-Prompt-Prompt-Title-Color;
          padding-top: 0.3em;
          padding-bottom: 0.3em;

          & #k-search-prompt-dismiss {

            position: relative;
            top: -0.3em;
            left: 0.8em;
            background-image: url("/images/icons/times.svg");
            background-size: 36px 36px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $K-Search-Prompt-Dismiss-Color;

          }

        }

        & .k-search-prompt-array {

          @include transition(all 0.25s ease-in-out);

          &:hover {

            @include MaterialBoxShadow(2);
            @include translate(0px, -2px);
            color: $K-SearchButton-Inactive-color;

          }

          & .k-search-prompt-item {

            position: relative;
            width: 100%;
            text-align: left;
            color: $md-black-primary-Text;
            cursor: pointer;
            padding: 0;
            margin: 0;

            &:hover {

              color: $K-Prompt-Item-Active-Color;

            }

            & .k-search-prompt-type {

              width: 100%;
              color: $K-Prompt-Type_color;
              font-size: 0.7em;
              font-weight: 700;
              padding-left: 0.5em;
              padding-top: 0.1em;
              padding-bottom: 0.0em;

            }

            & .k-search-prompt-value {

              width: 100%;
              padding-left: 1.5em;
              padding-top: 0em;
              padding-bottom: 0.2em;

            }

          }

        }

      }

    }

    & #k-search-history-list {

      display: none;

      &.historyActive {

        display: block;

      }

      & #k-search-history-title {

        color: $md-black-primary-Text;
        text-align: center;
        padding: 0.3em;
        background-color: $K-Prompt-History-Title-Color;

      }

      & .k-search-history-array {

        @include transition(all 0.25s ease-in-out);

        &:hover {

          @include MaterialBoxShadow(2);
          @include translate(0px, -2px);
          color: $K-SearchButton-Inactive-color;

        }

        & .k-search-history-item {

          position: relative;
          width: 100%;
          text-align: left;
          color: $md-black-primary-Text;
          cursor: pointer;
          padding: 0;
          margin: 0;

          &:hover {

            color: $K-History-Item-Active-Color;

          }

          & .k-search-history-type {

            width: 100%;
            color: $K-Prompt-Type_color;
            font-size: 0.7em;
            font-weight: 700;
            padding-left: 0.5em;
            padding-top: 0.1em;
            padding-bottom: 0.0em;

          }

          & .k-search-history-value {

            width: 100%;
            padding-left: 1.5em;
            padding-top: 0em;
            padding-bottom: 0.2em;

          }

        }

      }

    }

  }

}

/*********************************************************************************************
*
* Modal Image Dialog - Display a larger drug image (800px) with an option to search for
* drugs with the same image (same drug).
*
***********************************************************************************************/

$K-ImageDialog-dismiss-color: $K-ACCENT-COLOR-100;

#k-image-display-dialog {
  // dialog box

  max-width: 100%;
  margin: 0;
  padding: 0;

  #k-image-title-bar {
    // Search area

    #k-image-attribution {
      // NLM attribution text

      margin-left: 1.5em;
      font-size: 0.7em;

    }

    #k-image-dialog-dismiss {
      // The dismiss button

      position: relative;
      top: -1em;
      left: 1em;
      background-image: url("/images/icons/times.svg");
      background-size: 36px 36px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-ImageDialog-dismiss-color;

    }

  }

  #k-image-dialog-content {
    // image context area

    margin: 0;
    padding: 0;

  }

  #k-image-search-bar {
    // Search area

    #k-image-search-text {

      margin-left: 1em;

    }

    #k-image-search {
      // The search button

      position: relative;
      margin-left: 0.75em;
      top: -1em;
      background-image: url("/images/icons/search24.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;

    }

  }

}

/*********************************************************************************************
*
*
* Modal Wait.
*
***********************************************************************************************
*
*   Put up a modal wait cursor between an endpoint request and response.
*
*   Start by setting display:none to make this hidden.
*   Positioned in relation to the viewport window
*   with position:fixed. Width, height, top and left.
*   Background to 50% white with
*   animation centered, and no-repeating
*
*
*************************************************************************************************/

$K-Wait-Image-Path: "/images/ajax-loader.gif";
$K-Wait-Background-color: $K-PRIMARY-COLOR-900;
$K-Material-Wait-color: $K-ACCENT-COLOR-100;

#k-modal-wait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .3); //white
  background-image: url(#{$K-Wait-Image-Path}); //spinning image
  background-position: 50% 50%; // centered
  background-repeat: no-repeat; // only once

  &.searchactive {
    // Important! this class is set (see above also) when the endpoints request is active.

    display: block;

  }

}

/*********************************************************************************************
*
* Search Page and Footer Stuff
* Footer Stuff (Uses the Compass Mixin).
*
*
************************************************************************************************/

$K-Footer-Background-color: $K-PRIMARY-COLOR-500;
$K-Search-Page-Width: 600px;

// @include sticky-footer(1.5em, "#k-search-page", "#k-layout-footer", "#k-search-footer");

#k-layout-footer {

  margin: 0;
  padding: 0;

}

#k-search-footer {

  margin: 0;
  padding: 0;
  text-align: center;
  color: gray;
  background-color: $K-Footer-Background-color;

}

#k-total-page-width {

  width: 100%;

}

#k-search-page {

  display: block;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: $K-Search-Page-Width) {

    width: 100%;

  }

  @media only screen and (min-width: $K-Search-Page-Width) {

    width: $K-Search-Page-Width;

  }

}

/*********************************************************************************************
*
* The Ajax area stuff
*
*
************************************************************************************************/

#k-search-results {

  height: 700px; // Should be done using a media query.
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-image: url("/images/ScrollBackground.jpg");
  background-position: center top;
  background-size: 100% auto;

}

/*********************************************************************************************
*
*
* Drug Search Results Container classes.
*
*
************************************************************************************************/

$K-Display-Drug-Background: white;
$K-Display-Drug-Border: darken(white, 30%);

.k-display-drug {

  display: block;
  background-color: $K-Display-Drug-Background;
  border: 1px solid $K-Display-Drug-Border;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;

  /*******************************************************************************
  * Display Drug Name
  ********************************************************************************/

  & .k-display-header-bar {

    margin: 0;
    border: none;
    padding: 0;
    background-color: $K-PRIMARY-COLOR-100;
    width: 100%;

    & .k-display-name-search {

      @include transition(all 0.25s ease-in-out);
      position: relative;
      margin-left: -0.75em;
      top: -1em;
      opacity: 0.4;
      background-image: url("/images/icons/search24.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-SearchButton-Inactive-color;

      &.searchactive {
        // Important! this class is set when the endpoints request is active.

        background-color: $K-SearchButton-Active-color;

      }

      &:hover {

        opacity: 1.0;
        background-color: $K-SearchButton-Inactive-color;

      }

    }

    & .k-display-drug-name {

      font-size: 1.5em;
      padding: 0.1em;
      border: none;
      margin: 0;
      line-height: 105%;

    }

    & .k-display-labeler-name {

      font-size: 1em;
      padding: 0.1em;
      border: none;
      margin: 0;
      line-height: 105%;
    }

  }

  /*******************************************************************************
  * Display Drug Image and Price Information
  ********************************************************************************/

  & .k-display-image-price {

    margin: 0;
    padding: 0;
    border: none;

    & .k-display-drug-image {

      @include transition(all 0.25s ease-in-out);
      @include MaterialBoxShadow(1);
      margin: 5px;
      padding: 3px;
      display: none;

      &:hover {

        @include translate(0px, -1px);
        @include MaterialBoxShadow(2);

      }

      &.hasimage {

        display: block;

      }

      & .k-display-image-container {

        margin: 0;
        padding: 0;
        border: none;

      }

    }

  }

  /*******************************************************************************
  * Display Active Ingredient
  ********************************************************************************/

  $K-Display-Active-Color: lighten($K-ACCENT-COLOR-100, 15%);
  $K-Display-Active-Selected-Color: lighten($K-ACCENT-COLOR-100, 10%);

  & .k-display-active-ingredients {

    background-color: $K-Display-Active-Color;
    width: 100%;

    & .k-display-active-label {

      height: 2em;

      & .k-display-active-search {
        // Active ingredient search button

        @include transition(all 0.25s ease-in-out);
        position: relative;
        margin-left: -0.75em;
        top: -0.65em;
        opacity: 0.4;
        background-image: url("/images/icons/search24.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $K-SearchButton-Inactive-color;

        &.searchactive {
          // Important! this class is set when the endpoints request is active.

          background-color: $K-SearchButton-Active-color;

        }

        &.validselection:hover {

          opacity: 1.0;
          background-color: $K-SearchButton-Inactive-color;

        }

      }

      & .k-display-active-label-text {
        // Active Ingedient title text

        margin: 0;
        margin-top: 0.1em;
        border: none;
        padding: 0.1em;
        font-size: 1.2em;
        text-align: center;

      }

    }

    & .k-display-ingredient-panel {
      // Container for active ingredients.

      margin: 0;
      padding-bottom: 0.5em;

      & .k-display-ingredient-line {
        // Individual active ingredient line.

        margin-left: 2em;

        & .k-display-ingredient-name {

          background-color: $K-Display-Active-Color;

          & .k-display-ingredient-name-icon {

            opacity: 0;

          }

          &.activeselected {
            // Selected for an ingredient search

            background-color: $K-Display-Active-Selected-Color;

            & .k-display-ingredient-name-icon {

              opacity: 0.7;

            }

          }

        }

        & .k-display-ingredient-strength {

          margin-left: 1.0em;
          background-color: $K-Display-Active-Color;

          & .k-display-ingredient-strength-icon {

            opacity: 0;

          }

          &.strengthselected {
            // Selected for an ingredient search

            background-color: $K-Display-Active-Selected-Color;

            & .k-display-ingredient-strength-icon {

              opacity: 0.7;

            }

          }

        }

      }

    }

  }

  /*******************************************************************************
  * Display Package
  ********************************************************************************/

  & .k-display-package-container {

    width: 100%;

    & .k-display-package-description {

      margin-top: 0.3em;
      margin-bottom: 0.3em;
      margin-left: 2.0em;
      margin-right: 1.0em;
      border: none;
      padding: 0.1em;
      font-size: 0.9em;

    }

  }

  /*******************************************************************************
  * Display NDC
  ********************************************************************************/

  & .k-display-ndc-container {

    margin: 0;
    border: none;
    padding: 0;
    background-color: $K-PRIMARY-COLOR-100;
    width: 100%;

    & .k-display-ndc9-search {

      @include transition(all 0.25s ease-in-out);
      position: relative;
      margin-left: -0.75em;
      top: -1em;
      opacity: 0.4;
      background-image: url("/images/icons/search24.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-SearchButton-Inactive-color;

      &.searchactive {
        // Important! this class is set when the endpoints request is active.

        background-color: $K-SearchButton-Active-color;

      }

      &.focus {

        opacity: 1.0;
        background-color: $K-SearchButton-Inactive-color;

      }

    }

    & .k-display-ndc-title {

      font-size: 1.2em;
      padding: 0.1em;
      border: none;
      margin: 0;
      line-height: 105%;

    }

    & .k-display-ndc-value {

      font-size: 1em;
      padding: 0.1em;
      border: none;
      margin: 0;
      line-height: 105%;
    }

  }

}

