


/*********************************************************************************************
*
*
* Menu Bar Stuff
*
*
************************************************************************************************/

$K-Menu-Background-Colour: $K-PRIMARY-COLOR-500;
$K-Menu-Text-Colour: white;


#k-drug-toolbar {

    display: block;
    color: $K-Menu-Text-Colour;
    background-color: $K-Menu-Background-Colour;
    margin: none;
    
    #k-md-search {
    
        position: relative;
        top : 1.0em;
    
    }

}

#k-search-title {

    padding: 0.6em;

}


/*********************************************************************************************
*
*
* The screen divider.
*
*
************************************************************************************************/


$K-Divider-Expand-Icon-Inactive: darken(white, 20%);
$K-Divider-Expand-Icon-Active: darken(white, 80%);
$K-Divider-Border: darken(white, 50%);
$K-Divider-Notification: darken(white, 50%);
$K-Divider-Hover-Background-Colour: darken($K-Divider-Expand-Icon-Inactive, 10%);
$K-Divider-Hover-Stop-Gradient-Colour: darken($K-Divider-Hover-Background-Colour, 10%);


#k-screen-divider {
    
    height: 2.0em;
    padding: none;
    margin: none;
    border: none;
    margin-top: 0.6em;
    border-bottom: 1px solid $K-Divider-Border;  

    & #k-expansion-button {
        
        float: left;
        display: none; /* Display when .k-active-results set in JS (below) */    
        padding: none;
        margin: none;
        border: none;
        color: $K-Divider-Expand-Icon-Active;                

        &:hover {
            
            @include background-image(linear-gradient( $K-Divider-Hover-Background-Colour
                                                     , $K-Divider-Hover-Stop-Gradient-Colour));            
        }        
        
        
        & #k-expand-all-icon {
         	        
            float: left;
            font-size: 2.0em;
            padding: none;
            margin: none;
            margin-right: 0.2em;
           
            &:before {

                @extend .fa;
                @extend .fa-minus-square-o;

    	    }
                        
        } /* #k-expand-all-icon  */
        
        & #k-expand-all-text {
    
            float: left;
            border: none;
            padding: none;
            margin: none;
            margin-top: 0.5em;
            margin-right: 1.0em;
            font-size: 0.9em;
            text-align: left;
            
        } /* #k-expand-all-text  */                   

    } /* #k-expansion-button */
        
    & #k-expansion-button.k-collapsed #k-expand-all-icon {
    
        &:before {

                @extend .fa;
                @extend .fa-plus-square-o;

        }            
                   
    } /* #k-expansion-button.k-collapsed */
        
    & #k-notification-area {

        float: left;
        border: none;
        padding: none;
        margin: none;
        margin-top: 0.5em;
        margin-left: 1.5em;
        font-size: 0.9em;
        color: $K-Divider-Notification;
    }
    
} /* #k-screen-divider */


/* Display when .k-active-results */ 

#k-search-results.k-active-results {   

    & #k-expansion-button {

        display: block;    
    
    }

}





/*********************************************************************************************
*
* Search Page and Footer Stuff
* Footer Stuff (Uses the Compass Mixin).
*
*
************************************************************************************************/

$K-Footer-Background-Colour: $K-PRIMARY-COLOR-500;
$K-Search-Page-Width: 600px;

@include sticky-footer(1.5em, "#k-search-page", "#k-layout-footer", "#k-search-footer");

#k-search-footer {

    margin: none;
    text-align: center;
    color: gray;
    background-color: $K-Footer-Background-Colour;
    
}


#k-search-page {

    width: $K-Search-Page-Width; //set the page max width.

}


/*********************************************************************************************
*
* The Ajax area stuff
*
*
************************************************************************************************/

#k-display-results {

    height: 700px;    // Should be done using a media query. 
    padding : none;
    margin: none;
    background-image: url("../images/ScrollBackground.jpg");
    background-position: center top;
    background-size: 100% auto;

    #k-search-results {
    
        height: inherit;
    
    }

}


/*********************************************************************************************
*
*
* Drug Search Results Container classes.
*
*
************************************************************************************************/

$K-Display-Drug-Background: white;
$K-Display-Drug-Border: darken(white, 20%);


.k-display-drug {

        display: block;
        background-color: $K-Display-Drug-Background;
        border: 1px solid $K-Display-Drug-Border;    
        margin-bottom: 2.0em;
        margin-top: 2.0em;

    #k-display-drug-name {
    
        width: 100%;
        background-color: $K-PRIMARY-COLOR-100;
         font-size: 1.2em;
        padding: 0.5em;
    }

    #k-drug-ingredient-panel {

        display: block;
        background-color: $K-Display-Drug-Background;
        border: 1px solid $K-Display-Drug-Border;    
        margin-bottom: 1.0em;
        margin-top: 1.0em;

    }


}







