
@import "material-local";

/*********************************************************************************************
*
*
* Menu Bar Stuff
*
*
************************************************************************************************/

$K-Top-Menu-Background-color: $K-PRIMARY-COLOR-900;
$K-Menu-Background-color: $K-PRIMARY-COLOR-500;
$K-Toolbar-Title-color: $K-ACCENT-COLOR-100;
$K-SearchButton-Active-color: $K-ACCENT-COLOR-100;
$K-SearchButton-Inactive-color: $md-light-blue-500;
$K-Menu-Text-color: white;
$K-Input-Text-Color: white;
$K-Icon-Color: white;

#k-drug-toolbar {

  display: block;
  color: $K-Menu-Text-color;
  background-color: $K-Menu-Background-color;
  margin: none;
  padding: none;

  & #k-icon-toolbar {

    background-color: $K-Top-Menu-Background-color;
    margin: none;
    padding: none;
    height: 3.0em;

    & #k-icon-toolbar-tools {

      margin: none;
      padding: none;
      padding-top: 1.0em;
      height: 2.0em;

      & #k-icon-toolbar-title {

        color: $K-Toolbar-Title-color;
        font-weight: 700;
        font-size: 1.5em;

      }

    }

  }

  & #k-search-toolbar {

    @include MaterialBoxShadow(2);
    margin: none;
    padding: none;
    height: 5.0em;

    & #k-search-type-toolbar {

      margin: none;
      padding: none;
      height: 2.0em;

      & #k-search-title {

        padding: 0.6em;

      }

      & #k-md-searchtype {

        border: none;
        @include MaterialBoxShadow(2);

      }

    }

    & #k-search-text-toolbar {

      margin: none;
      padding: none;
      height: 3.0em;

      // Set the the input text colors.

      & #k-md-searchtext {

        color: $K-Input-Text-Color;

      }

      & #k-md-search {

        position: relative;
        top: 1.0em;
        background-color: $K-SearchButton-Inactive-color;

        &.searchactive {   // Important! this class is set when the endpoints request is active.

          background-color: $K-SearchButton-Active-color;

        }

      }

    }

  }

}

/*********************************************************************************************
*
*
* Modal Wait.
*
***********************************************************************************************
*
*   Put up a modal wait cursor between an endpoint request and response.
*
*   Start by setting display:none to make this hidden.
*   Positioned in relation to the viewport window
*   with position:fixed. Width, height, top and left.
*   Background to 50% white with
*   animation centered, and no-repeating
*
*
*************************************************************************************************/

$K-Wait-Image-Path: "/images/ajax-loader.gif";

#k-modal-wait {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .5 )
  url(#{$K-Wait-Image-Path})
  50% 50%
  no-repeat;

  &.searchactive {  // Important! this class is set (also see above) when the endpoints request is active.

    display: block;

  }

}


/*********************************************************************************************
*
* Search Page and Footer Stuff
* Footer Stuff (Uses the Compass Mixin).
*
*
************************************************************************************************/

$K-Footer-Background-color: $K-PRIMARY-COLOR-500;
$K-Search-Page-Width: 600px;

@include sticky-footer(1.5em, "#k-search-page", "#k-layout-footer", "#k-search-footer");

#k-search-footer {

  margin: none;
  text-align: center;
  color: gray;
  background-color: $K-Footer-Background-color;

}

#k-search-page {

  @media only screen and (max-width: $K-Search-Page-Width) {

    width: 100%;

  }

  @media only screen and (min-width: $K-Search-Page-Width) {

    width: $K-Search-Page-Width;

  }

}

/*********************************************************************************************
*
* The Ajax area stuff
*
*
************************************************************************************************/

#k-display-results {

  height: 700px; // Should be done using a media query.
  padding: none;
  margin: none;
  background-image: url("/images/ScrollBackground.jpg");
  background-position: center top;
  background-size: 100% auto;

  & #k-search-results {

    height: inherit;

  }

}

/*********************************************************************************************
*
*
* Drug Search Results Container classes.
*
*
************************************************************************************************/

$K-Display-Drug-Background: white;
$K-Display-Drug-Border: darken(white, 20%);

.k-display-drug {

  display: block;
  background-color: $K-Display-Drug-Background;
  border: 1px solid $K-Display-Drug-Border;
  margin-bottom: 2.0em;
  margin-top: 2.0em;

  & #k-display-drug-name {

    width: 100%;
    background-color: $K-PRIMARY-COLOR-100;
    font-size: 1.2em;
    padding: 0.5em;
  }

  & #k-drug-ingredient-panel {

    display: block;
    background-color: $K-Display-Drug-Background;
    border: 1px solid $K-Display-Drug-Border;
    margin-bottom: 1.0em;
    margin-top: 1.0em;

  }

}

