/* 
*
* Copyright Kellerberrin 2014.
*
* k-widgets SASS widget library 
* The corrsponding Javascript library is "k-widgets.js".
*
*/
//
// Depends on the Foundation icon library (for now).
//
//
//
//**************************Accordian ************************************************************************* 
//
// Example HTML declaration:
/*
<div id="k-expand-menu" class="k-accordion k-unique"> <!-- Declares the k-accordion, "k-unique" means only one expanded section open at a time.
		<div class="k-header">Home</div>              <!- Accordion header --> 
		<div class="k-expander k-expanded">Products</div> <!-- Expand button, "k-expanded" initially expands the selection. -->
	    <div class="k-expandable">     <!-- The k-exandable section, must be the next sibling to the k-expander class -->
		    <div>Widgets</div>      <!-- Sub-menu items that are initially expanded -->
			<div>Menus</div>
		    <div>Products</div>
		</div>
		<div class="k-expander">Company</div>
		<div class="k-expandable">
		    <div>About</div>
			<a href="#">Location</a>
		</div>
		<div class="k-static">Contact</div> <!-- Non-expandable sibling menu item. -->
</div> <!-- k-accordion -->
<script>$(document).ready(function() { k_InitializeAccordian("expand-menu"); });</script> <!-- Must be initialized -->
*/
//
// Colours for the accordion.
// Selector : ".k-accordion"

$K-Accordion-Background-Colour: #66665e;
$K-Accordion-Text-Colour: white;

// Default colours
$K-Accordion-Border-Bottom-Colour: lighten($K-Accordion-Background-Colour, 5%);
$K-Accordion-Stop-Gradient-Colour: darken($K-Accordion-Background-Colour, 10%);
$K-Accordion-Text-Shadow-Colour: darken($K-Accordion-Text-Colour, 20%);

$K-Accordion-Menu-Radius: 3px;

// Colours for the expanders and static
// Selector : ".k-expander"

$K-Accordion-Menu-Background-Colour: #e94f31;
$K-Accordion-Menu-Stop-Gradient-Colour: darken($K-Accordion-Menu-Background-Colour, 10%);

// Colours for the expander:hover

$K-Accordion-Menu-Hover-Background-Colour: darken($K-Accordion-Menu-Background-Colour, 10%);
$K-Accordion-Menu-Hover-Stop-Gradient-Colour: darken($K-Accordion-Menu-Stop-Gradient-Colour, 10%);

// Expand icon colours.

$K-Accordion-Icon-Colour: lightgray;

// The sub menu items.

$K-Accordion-SubMenuItem-Background-Colour: #f7f7f7;
$K-Accordion-SubMenuItem-Link-Colour: #676767;
$K-Accordion-SubMenuItem-Stop-Gradient-Colour: darken($K-Accordion-SubMenuItem-Background-Colour, 10%);
$K-Accordion-SubMenuItem-BottomBorder-Colour: lighten($K-Accordion-SubMenuItem-Background-Colour, 5%);
$K-Accordion-SubMenuItem-Hover-Background-Colour: darken($K-Accordion-SubMenuItem-Background-Colour, 10%);
$K-Accordion-SubItemMenu-Hover-Stop-Gradient-Colour: darken($K-Accordion-SubMenuItem-Stop-Gradient-Colour, 10%);

// End of Colours 


@mixin k-accordian-mixin {

//************************************************
/* Base Styles */
    %k-accordion-base {
	    font-weight: normal;
	    text-decoration: none;
	    line-height: 100%;
        @include border-radius($K-Accordion-Menu-Radius);
    }

    %k-expander-base {
        display: block;
        @include background-image(linear-gradient( $K-Accordion-Menu-Background-Colour
                                                 , $K-Accordion-Menu-Stop-Gradient-Colour));
        background-color: $K-Accordion-Menu-Background-Colour;
        color: inherit;
        font-size: 0.9rem;
        text-shadow: 0 -1px 1px $K-Accordion-Text-Shadow-Colour;
        border: 1px solid $K-Accordion-Menu-Background-Colour;
        border-top: none;
        padding: 0.8rem 0.8rem;
    }

    .k-accordion {
        @extend %k-accordion-base;
	    color: $K-Accordion-Text-Colour;
	    background-color: $K-Accordion-Background-Colour;
	    border:none;
	    border-bottom: 4px solid $K-Accordion-Border-Bottom-Colour;

        & .k-header {
                @include background-image(linear-gradient( $K-Accordion-Background-Colour
                                                         , $K-Accordion-Stop-Gradient-Colour));
                background-color: inherit;
                color: inherit;
            	line-height: 130%;
 	            padding: 1rem 0.8rem;
	            font-size: 1.2rem;
	            font-weight: 500;
	            text-align: center;

        }

        & .k-expander {

            @extend %k-expander-base;        

            &:hover {
	            background-color: $K-Accordion-Menu-Hover-Background-Colour;
                @include background-image(linear-gradient( $K-Accordion-Menu-Hover-Background-Colour
                                                         , $K-Accordion-Menu-Hover-Stop-Gradient-Colour));
            }

            &.k-collapsed:before {
                @extend .fa;
                @extend .fa-plus-square-o;
    	        font-size: 1.8rem;
                 float: left;
                padding-right: 0.5rem;
    	        color: $K-Accordion-Icon-Colour;
            }

            &.k-expanded:before {
                @extend .fa;
                @extend .fa-minus-square-o;
    	        font-size: 1.8rem;
                float: left;
                padding-right: 0.5rem;
    	        color: $K-Accordion-Icon-Colour;
            }

        } // Expander


    /* Sub menus */
        & .k-expandable {
            
            & > * {
                @extend %k-expander-base;        
	            border: 1px solid $K-Accordion-SubMenuItem-BottomBorder-Colour;
                border-top: none;
                @include background-image(linear-gradient( $K-Accordion-SubMenuItem-Background-Colour
                                                         , $K-Accordion-SubMenuItem-Stop-Gradient-Colour));
	            background-color: $K-Accordion-SubMenuItem-Background-Colour;
                color: $K-Accordion-SubMenuItem-Link-Colour;
                font-size: .8rem;

                &:hover {	
    	            background-color: $K-Accordion-SubMenuItem-Hover-Background-Colour;
                    @include background-image( linear-gradient($K-Accordion-SubMenuItem-Hover-Background-Colour
                                             , $K-Accordion-SubItemMenu-Hover-Stop-Gradient-Colour));
                }

                &:last-child {
	                border-bottom: none;
                }    

                &:before {
                    @extend .fa;
                    @extend .fa-chevron-right;
    	            font-size: 1.5rem;
                    float: left;
                    padding-right: 0.5rem;
	                color: $K-Accordion-Menu-Background-Colour;
                }
    
            } // Sub-menus
                
        } // Expandable


    // Non-expandable sibling item. 
        & .k-static {
            list-style: none;
                @extend %k-expander-base;
 


            &:before {
                @extend .fa;
                @extend .fa-chevron-right;                
    	        font-size: 1.8rem;
                float: left;
                padding-right: 0.5rem;
	            color: $K-Accordion-Icon-Colour;
            }

        } // Static

    } // Accordion
    
} // Accordian mixin

/*********************************************************************************************
*
*
* Modal Wait.
*
*********************************************************************************************** 
*
*   Put up a modal wait cursor between an AJAX request and response.
*
*   Start by setting display:none to make this hidden.
*   Positioned in relation to the viewport window
*   with position:fixed. Width, height, top and left. 
*   Background to 50% white with
*   animation centered, and no-repeating 
*
*
*/

$K-Wait-Image-Path: "../images/ajax-loader.gif";

.k-modal-wait {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .5 ) 
                url(#{$K-Wait-Image-Path}) 
                50% 50% 
                no-repeat;

}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden 
*/

//body.loading {
//    overflow: hidden;   
//}

/* Anytime the body has the loading class, our
   modal element will be visible 
*/

body.loading .k-modal-wait {
    display: block;
}

/**************************Radio Buttons Mixin ************************************************************************* 
*
* Example SASS declaration:
*
*  .k-myradio-group {
*       @include k-radio-group;
*       ... possible CSS modifications ...
*   }
*
* Example HTML declaration:
*
*
*   <div id="select-search-type" class="k-myradio-group"> <!-- Declare the radio group. -->
*       <div class="k-radio-header">Search Type</div>           <!-- The radio button header section (optional) -->
*	    <div class="k-radio k-radio-selected">Drug Name</div>         <!-- The initially selected radio option -->
*	    <div class="k-radio">Drug Ingredients</div>             <!-- Another radio option (must be a sibling)
*	    <div class="k-radio">National Drug Code</div>           <!-- etc -->
*   </div>                                                  <!-- k-radio-button -->
*   <script>$(document).ready(function() { k_InitializeRadio("select-search-type"); });</script> <!-- Must be initialized -->
*/

// Colours for the radio button.
// Selector : ".k-accordion"

$K-Radio-Background-Colour: #66665e;
$K-Radio-Text-Colour: white;

// Colours for the radio selections and static
// Selector : ".k-radio

$K-Radio-Menu-Background-Colour: #e94f31;

// Colours for .k-radio:hover

$K-Radio-Menu-Hover-Background-Colour: darken($K-Radio-Menu-Background-Colour, 10%);

// Expand icon colours.

$K-Radio-Icon-NotSelected-Colour: lighten($K-Radio-Menu-Background-Colour, 5%);
$K-Radio-Icon-Selected-Colour: $K-Radio-Text-Colour;

// End of Radio colours 


@mixin k-radio-group ( $MK-Radio-Background-Colour: $K-Radio-Background-Colour
                     , $MK-Radio-Text-Colour : $K-Radio-Text-Colour
                     , $MK-Radio-Menu-Background-Colour: $K-Radio-Menu-Background-Colour
                     , $MK-Radio-Menu-Hover-Background-Colour: $K-Radio-Menu-Hover-Background-Colour
                     , $MK-Radio-Icon-NotSelected-Colour: $K-Radio-Icon-NotSelected-Colour
                     , $MK-Radio-Icon-Selected-Colour : $K-Radio-Icon-Selected-Colour) {

// Virtual Base Styles


    %k-radio-base {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        background-color: $MK-Radio-Menu-Background-Colour;
        color: inherit;
        font-size: 0.9em;
        border-top: none;
        padding: 0.8em 0.8em;
    }

    @extend %k-radio-base;
	color: $MK-Radio-Text-Colour;
	background-color: $MK-Radio-Background-Colour;
	border:none;


// The menu header

    & .k-radio-header {


            background-color: inherit;
            color: inherit;
        	line-height: 130%;
 	        padding: 1rem 0.8em;
	        font-size: 1.2em;
	        font-weight: 500;
	        text-align: center;

    }

// Menu items

    & .k-radio {


        @extend %k-radio-base;

        &:before {
            @extend .fa;
            @extend .fa-check-square-o:before;
    	    font-size: 2.0rem;
            margin-right: 1.2em;
        	color: $MK-Radio-Icon-NotSelected-Colour;
    	}

        &.k-selected:before {
    	    color: $MK-Radio-Icon-Selected-Colour;
        }

        &:hover {       

	        background-color: $MK-Radio-Menu-Hover-Background-Colour;
        }

    } // k-radio

// If the menu is collapsable

    &.k-expandable .k-radio {

        &:after {
            @extend .fa;
            @extend .fa-minus-square-o:before;
            float: right;
    	    font-size: 2.0rem;
            margin-left: 0.5em;
    	    color: $MK-Radio-Icon-NotSelected-Colour;

        }

        &.k-selected:after {

    	    color: $MK-Radio-Icon-Selected-Colour;

        }

    } // k-expandable k-radio


} // mixin

//
// The expandable radio group. Only the expanded selection is shown.
// This is a sub-class of the k-radio-group mixin.
//

$K-Radio-Max-Screensize-Expand : 900px;  // Expandable at this size and below.

@mixin k-expandable-radio-group ( $MK-Radio-Background-Colour: $K-Radio-Background-Colour
                                , $MK-Radio-Text-Colour : $K-Radio-Text-Colour
                                , $MK-Radio-Menu-Background-Colour: $K-Radio-Menu-Background-Colour
                                , $MK-Radio-Menu-Hover-Background-Colour: $K-Radio-Menu-Hover-Background-Colour
                                , $MK-Radio-Icon-NotSelected-Colour: $K-Radio-Icon-NotSelected-Colour
                                , $MK-Radio-Icon-Selected-Colour : $K-Radio-Icon-Selected-Colour
                                , $MK-Radio-Max-Screensize-Expand : $K-Radio-Max-Screensize-Expand) {

// Base Radio Style.

    @include k-radio-group ( $MK-Radio-Background-Colour
                           , $MK-Radio-Text-Colour
                           , $MK-Radio-Menu-Background-Colour
                           , $MK-Radio-Menu-Hover-Background-Colour
                           , $MK-Radio-Icon-NotSelected-Colour
                           , $MK-Radio-Icon-Selected-Colour);

// Media query sets the expander buttons.
    @media only screen and (max-width: $K-Radio-Max-Screensize-Expand) {

// The menu is collapsable below a specified screen size.
// Cannot extend the font awesome classes because of the media query
// so just paste in the relevent markup. 

        & .k-radio {

            &:after {
                content: "\f147"; // Font Awesome fa-minus-square-o icon.
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                font-size: 2.0rem;    // Must use rem because IE multiplies the font size 
                margin-left: 0.5em;
           	    color: $MK-Radio-Icon-NotSelected-Colour;

            }

            &.k-selected:after {

        	    color: $MK-Radio-Icon-Selected-Colour;

            }

        } // k-radio

        &.k-collapsed .k-radio {

            display: none;            

            &:after {

                content: "\f196";   // Font Awesome fa-plus-square-o icon.
                display: inline-block;
                font-family: FontAwesome; 
                font: normal normal normal 14px/1 FontAwesome;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                float: right;
                font-size: 2.0rem; // Must use rem because IE multiplies the font size 
                margin-left: 0.5em;
           	    color: $MK-Radio-Icon-NotSelected-Colour;

            }

            &.k-selected {

        	    display: block;
        
                &:after {

        	        color: $MK-Radio-Icon-Selected-Colour;

                }

            }

        } // k-collapsed k-radio

    } // media query.

} // mixin


/*********************************************************************************************
*
*
* Modal Dialog mixins.
*
*
************************************************************************************************/

@mixin k-modal-simple-dialog( $MK-Dialog-Text-Colour : black
                            , $MK-Dialog-Background-Colour : white
                            , $MK-Dialog-Large-Width : 50% 
                            , $MK-Dialog-Small-Width : 90% 
                            , $MK-Dialog-Screensize-Small: 900px) {

    @include transition(all 0.4s ease);
    background-color: $MK-Dialog-Background-Colour;
    color: $MK-Dialog-Text-Colour;
    margin: none;
    margin-top: -25%;
    position: fixed;
    top: 50%;
    left: 50%;

    @media only screen and (max-width: $MK-Dialog-Screensize-Small) {

        margin-left: (-1.0 * ($MK-Dialog-Small-Width/2));
        width : $MK-Dialog-Small-Width;
        
    }
    @media only screen and (min-width: $MK-Dialog-Screensize-Small) {

        margin-left: (-1.0 * ($MK-Dialog-Large-Width/2));
        width : $MK-Dialog-Large-Width;
        
    } 


  /* Hide using opacity. */
    opacity: 0;
    
 /* Not taking any events yet */
    pointer-events: none;

    &.k-dialogActive {
  
        opacity: 1;

    /* Clickable */
        pointer-events: auto;

    }

    & #k-modal-text {

        width: auto;
        padding: 1.0em;
        padding-top: 3.0em;
        font-size: 1.0em;        
        
    }

    & #k-modal-cancel {

        float: right;
        font-size: 2.0em;        
        padding: none;
        margin: none;
        border: none;        
        
        &:after {
        
            @extend .fa;
            @extend .fa-times-circle-o:before;
        
        }
        
    }
        
    & #k-modal-button-group {

        float: left;
        margin-bottom: 1.0em;

        & #k-modal-button-1 {
        
            display: none;
            margin-left: 1.0em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            width: 4.0em;
            float: left;
            font-size: 1.0em;        
            text-align: center;

        }

        & #k-modal-button-2 {
        
            display: none;
            margin-left: 1.0em;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            width: 4.0em;
            float:left;
            font-size: 1.0em;        
            text-align: center;
        
        }
// Add the .k-visible class to show the buttons.
        & #k-modal-button-1.k-visible {
    
            display: block;

        }


        & #k-modal-button-2.k-visible {
    
            display: block;

        }

    }

}


/*********************************************************************************************
*
*
* Modal Dialog with blur and shink transition effect.
*
*
************************************************************************************************/


@mixin k-modal-zoom-dialog( $MK-Dialog-Text-Colour : black
                          , $MK-Dialog-Background-Colour : white
                          , $MK-Dialog-Large-Width : 50% 
                          , $MK-Dialog-Small-Width : 90% 
                          , $MK-Dialog-Screensize-Small: $K-Screensize-Small) {

    @include k-modal-simple-dialog( $MK-Dialog-Text-Colour
                                  , $MK-Dialog-Background-Colour
                                  , $MK-Dialog-Small-Width
                                  , $MK-Dialog-Screensize-Small);   

  /* Pre-increase to size-in */
    @include transform(scale(1.5));


    &.k-dialogActive {
  
      /* Regular size and visible */
        @include transform(scale(1.0));

    }


}


/*
*  Used in the overall contents window using @extend %k-zoom-parent-window; 
*/

%k-zoom-parent-window {

    @include transition(all 0.4s ease);
    @include filter( blur(0) grayscale(0));

    &.k-dialogActive  {

        /* Blur and de-color */
        @include filter(blur(5px) grayscale(50%));

        /* Recede */
        @include transform(scale(0.9));
                
    }

}


/*********************************************************************************************
*
*
* Drop Down Memu
*
*
************************************************************************************************/


.k-drop-down-wrapper {
    /* Size and position */
    @include box-sizing(border-box);
    padding: 0;
    margin: 0;
    position: relative;
    overflow:visible;
    z-index:    99;
    width: 9em;


/* Active state */

    &.active .dropdown {
        opacity: 1;
        pointer-events: auto;
    }

    & .dropdown {
  /* Size & position */
        @include box-sizing(border-box);
        padding: 0;
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;

    /* Styles */
        background: white;
        @include transition-duration(0.3s);
        @include transition-timing-function(ease-in);
        @include MaterialBoxShadow(3);   // z-level = 2
        list-style: none;

    /* Hiding */
        opacity: 0;
        pointer-events: none;


        & li > * {
            display: block;
            padding: 0.3em;
            color: darken(white, 80%);
            box-shadow: inset 0 1px 0 rgba(255,255,255,1);
            @include transition-duration(0.3s);
            @include transition-timing-function(ease-in);
        }


    }


}









