/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/*
*
* This file implements the SASS primitives for the implementation of the Google Material Design Specification
* 
*
*/
/****************************************************************************************************
*
*  Google size unit Sass functions.
*
****************************************************************************************************/
/*
*  Density-independent pixel ($K-DP) to pixels (returned).
*  Needs the DPI ($K-DPI) of the screen as an input. 
*  A dp-pixel is a notational pixel on a 160 dpi screen.
*  Dip should always be used for layout in GM design.
*/
/* 
* Scale independent pixels (Sip) to pixels. 
* Sip also incorporate any additional user (or designer) 
* modification of font scaling. Sip should used always
* be used with font scaling (K-FS) in GM design.  
*/
/* 
*
* Utility function to convert pixels to em where $K-FSize is 
* the default font size (default 16 px)
*
*/
/****************************************************************************************************
*
*  Google layout grid stuff.
*
****************************************************************************************************/
/****************************************************************************************************
*
*  Set Roboto as the body font.
*
****************************************************************************************************/
/* line 145, ../../scss/_material.scss */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * the blur parameter has to be doubled.
 *
 *
 * Example usage:
 *
 * .card {
 *     width: 95px;
 *     height: 95px;
 *     background: #f4f4f4;
 *     -webkit-transition: all 250ms;
 *     -moz-transition: all 250ms;
 *     transition: all 250ms;
 *     @include MaterialBoxShadow(1);
 *     &:hover {
 *         @include MaterialBoxShadow(3);
 *         -webkit-transform: translateY(-5px);
 *         -moz-transform: translateY(-5px);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */
/*
* The fab class for material buttons.
*/
/* line 205, ../../scss/_material.scss */
.material-fab {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  border: none;
  font-size: 1.5em;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: auto;
  opacity: 0.75;
}
/* line 217, ../../scss/_material.scss */
.material-fab:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  opacity: 1.0;
}

/****************************************************************************************************
*
*  Set the theme colors
*
****************************************************************************************************/
/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/****************************************************************************************************
*
*  Set the theme colors
*
****************************************************************************************************/
/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/*********************************************************************************************
*
*
* Menu Bar Stuff
*
*
************************************************************************************************/
/* line 29, ../../scss/_k-local.scss */
#k-drug-toolbar {
  display: block;
  color: white;
  background-color: #3f51b5;
  margin: 0;
  padding: 0;
}
/* line 37, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar {
  background-color: #1a237e;
  margin: 0;
  padding: 0;
  height: 3.0em;
}
/* line 44, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar #k-icon-toolbar-tools {
  margin: 0;
  padding: 0;
  padding-top: 1.0em;
  height: 2.0em;
}
/* line 51, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar #k-icon-toolbar-tools #k-menu-icon-button {
  background-color: #03a9f4;
}
/* line 57, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar #k-icon-toolbar-tools #k-icon-toolbar-title {
  color: #ff80ab;
  font-weight: 700;
  font-size: 1.5em;
}
/* line 65, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar #k-icon-toolbar-tools #k-icon-barcode-button {
  background-color: #03a9f4;
}
/* line 71, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar #k-icon-toolbar-tools #k-icon-search-button {
  background-color: #03a9f4;
}
/* line 81, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 0;
  padding: 0;
  height: 5.0em;
  background-color: #3f51b5;
}
/* line 89, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar {
  margin: 0;
  padding: 0;
  border: none;
  height: 2em;
}
/* line 96, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-title {
  margin: 0;
  margin-left: 0.75em;
  padding: 0;
  height: 1.5em;
}
/* line 105, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-searchtype {
  border: none;
  margin-left: 0.75em;
  padding: 0;
  height: 1.5em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  color: white;
  background-color: #03a9f4;
  cursor: pointer;
}
/* line 120, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar {
  margin: 0;
  padding: 0;
  border: none;
  height: 3em;
}
/* line 129, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext {
  height: 3em;
  margin-left: 0.75em;
}
/* line 138, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext label {
  color: #03a9f4;
}
/* line 144, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext input {
  color: white;
  border-bottom: solid 2px #03a9f4;
}
/* line 153, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext.md-input-focused input {
  border-bottom: solid 2px white;
}
/* line 159, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext.md-input-focused label {
  color: white;
}
/* line 169, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-md-search {
  position: relative;
  margin-left: 0.75em;
  top: 1.0em;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 180, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-md-search.searchActive {
  background-color: #ff80ab;
}
/* line 193, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor {
  position: relative;
}
/* line 197, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 1em;
  left: 1em;
  width: 20em;
  background-color: white;
}
/* line 206, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list {
  display: none;
}
/* line 210, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list.promptActive {
  display: block;
}
/* line 216, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list #k-search-prompt-title {
  color: #212121;
  text-align: center;
  height: 2em;
  background-color: #47c4fd;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
/* line 225, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list #k-search-prompt-title #k-search-prompt-dismiss {
  position: relative;
  top: -0.3em;
  left: 0.8em;
  background-image: url("/images/icons/times.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffccde;
}
/* line 240, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 244, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #03a9f4;
}
/* line 252, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item {
  position: relative;
  width: 100%;
  text-align: left;
  color: #212121;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
/* line 262, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item:hover {
  color: #03a9f4;
}
/* line 268, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item .k-search-prompt-type {
  width: 100%;
  color: #303f9f;
  font-size: 0.7em;
  font-weight: 700;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.0em;
}
/* line 280, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item .k-search-prompt-value {
  width: 100%;
  padding-left: 1.5em;
  padding-top: 0em;
  padding-bottom: 0.2em;
}
/* line 297, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list {
  display: none;
}
/* line 301, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list.historyActive {
  display: block;
}
/* line 307, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list #k-search-history-title {
  color: #212121;
  text-align: center;
  padding: 0.3em;
  background-color: #ffccde;
}
/* line 316, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 320, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #03a9f4;
}
/* line 328, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item {
  position: relative;
  width: 100%;
  text-align: left;
  color: #212121;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
/* line 338, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item:hover {
  color: #ff80ab;
}
/* line 344, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item .k-search-history-type {
  width: 100%;
  color: #303f9f;
  font-size: 0.7em;
  font-weight: 700;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.0em;
}
/* line 356, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item .k-search-history-value {
  width: 100%;
  padding-left: 1.5em;
  padding-top: 0em;
  padding-bottom: 0.2em;
}

/*********************************************************************************************
*
* Modal Image Dialog - Display a larger drug image (800px) with an option to search for
* drugs with the same image (same drug).
*
***********************************************************************************************/
/* line 384, ../../scss/_k-local.scss */
#k-image-display-dialog {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
/* line 394, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-title-bar #k-image-attribution {
  margin-left: 1.5em;
  font-size: 0.7em;
}
/* line 402, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-title-bar #k-image-dialog-dismiss {
  position: relative;
  top: -1em;
  left: 1em;
  background-image: url("/images/icons/times.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff80ab;
}
/* line 418, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-dialog-content {
  margin: 0;
  padding: 0;
}
/* line 429, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-search-bar #k-image-search-text {
  margin-left: 1em;
}
/* line 435, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-search-bar #k-image-search {
  position: relative;
  margin-left: 0.75em;
  top: -1em;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

/*********************************************************************************************
*
*
* Modal Wait.
*
***********************************************************************************************
*
*   Put up a modal wait cursor between an endpoint request and response.
*
*   Start by setting display:none to make this hidden.
*   Positioned in relation to the viewport window
*   with position:fixed. Width, height, top and left.
*   Background to 50% white with
*   animation centered, and no-repeating
*
*
*************************************************************************************************/
/* line 474, ../../scss/_k-local.scss */
#k-modal-wait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(/images/ajax-loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 487, ../../scss/_k-local.scss */
#k-modal-wait.searchactive {
  display: block;
}

/*********************************************************************************************
*
* Search Page and Footer Stuff
* Footer Stuff (Uses the Compass Mixin).
*
*
************************************************************************************************/
/* line 10, ../../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#k-search-page {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -1.5em;
}
/* line 18, ../../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#k-search-page #k-layout-footer {
  height: 1.5em;
}

/* line 20, ../../../../../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#k-search-footer {
  clear: both;
  position: relative;
  height: 1.5em;
}

/* line 509, ../../scss/_k-local.scss */
#k-search-footer {
  margin: 0;
  text-align: center;
  color: gray;
  background-color: #3f51b5;
}

@media only screen and (max-width: 600px) {
  /* line 518, ../../scss/_k-local.scss */
  #k-search-page {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 518, ../../scss/_k-local.scss */
  #k-search-page {
    width: 600px;
  }
}

/*********************************************************************************************
*
* The Ajax area stuff
*
*
************************************************************************************************/
/* line 541, ../../scss/_k-local.scss */
#k-search-results {
  height: 700px;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-image: url("/images/ScrollBackground.jpg");
  background-position: center top;
  background-size: 100% auto;
}

/*********************************************************************************************
*
*
* Drug Search Results Container classes.
*
*
************************************************************************************************/
/* line 564, ../../scss/_k-local.scss */
.k-display-drug {
  display: block;
  background-color: white;
  border: 1px solid #b3b3b3;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  /*******************************************************************************
  * Display Drug Name
  ********************************************************************************/
  /*******************************************************************************
  * Display Drug Image and Price Information
  ********************************************************************************/
  /*******************************************************************************
  * Display Active Ingredient
  ********************************************************************************/
  /*******************************************************************************
  * Display Package
  ********************************************************************************/
  /*******************************************************************************
  * Display NDC
  ********************************************************************************/
}
/* line 578, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar {
  margin: 0;
  border: none;
  padding: 0;
  background-color: #c5cae9;
  width: 100%;
}
/* line 586, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  margin-left: -0.75em;
  top: -1em;
  opacity: 0.4;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 599, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search.searchactive {
  background-color: #ff80ab;
}
/* line 606, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search:hover {
  opacity: 1.0;
  background-color: #03a9f4;
}
/* line 615, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-drug-name {
  font-size: 1.5em;
  padding: 0.1em;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 625, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-labeler-name {
  font-size: 1em;
  padding: 0.1em;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 640, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 646, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 5px;
  padding: 3px;
  display: none;
}
/* line 654, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image:hover {
  -webkit-transform: translate(0px, -1px);
  -moz-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  -o-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* line 661, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image.hasimage {
  display: block;
}
/* line 667, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image .k-display-image-container {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 686, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients {
  background-color: #ffccde;
  width: 100%;
}
/* line 691, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label {
  height: 2em;
}
/* line 695, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  margin-left: -0.75em;
  top: -0.65em;
  opacity: 0.4;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 709, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search.searchactive {
  background-color: #ff80ab;
}
/* line 716, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search.validselection:hover {
  opacity: 1.0;
  background-color: #03a9f4;
}
/* line 725, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-label-text {
  margin: 0;
  margin-top: 0.1em;
  border: none;
  padding: 0.1em;
  font-size: 1.2em;
  text-align: center;
}
/* line 739, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel {
  margin: 0;
  padding-bottom: 0.5em;
}
/* line 745, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line {
  margin-left: 2em;
}
/* line 750, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name {
  background-color: #ffccde;
}
/* line 754, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name .k-display-ingredient-name-icon {
  opacity: 0;
}
/* line 760, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name.activeselected {
  background-color: #ffb3cd;
}
/* line 765, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name.activeselected .k-display-ingredient-name-icon {
  opacity: 0.7;
}
/* line 775, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength {
  margin-left: 1.0em;
  background-color: #ffccde;
}
/* line 780, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength .k-display-ingredient-strength-icon {
  opacity: 0;
}
/* line 786, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength.strengthselected {
  background-color: #ffb3cd;
}
/* line 791, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength.strengthselected .k-display-ingredient-strength-icon {
  opacity: 0.7;
}
/* line 811, ../../scss/_k-local.scss */
.k-display-drug .k-display-package-container {
  width: 100%;
}
/* line 815, ../../scss/_k-local.scss */
.k-display-drug .k-display-package-container .k-display-package-description {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 2.0em;
  margin-right: 1.0em;
  border: none;
  padding: 0.1em;
  font-size: 0.9em;
}
/* line 833, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container {
  margin: 0;
  border: none;
  padding: 0;
  background-color: #c5cae9;
  width: 100%;
}
/* line 841, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  margin-left: -0.75em;
  top: -1em;
  opacity: 0.4;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 854, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search.searchactive {
  background-color: #ff80ab;
}
/* line 861, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search.focus {
  opacity: 1.0;
  background-color: #03a9f4;
}
/* line 870, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-title {
  font-size: 1.2em;
  padding: 0.1em;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 880, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-value {
  font-size: 1em;
  padding: 0.1em;
  border: none;
  margin: 0;
  line-height: 105%;
}
