/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/*
*
* This file implements the SASS primitives for the implementation of the Google Material Design Specification
* 
*
*/
/****************************************************************************************************
*
*  Google size unit Sass functions.
*
****************************************************************************************************/
/*
*  Density-independent pixel ($K-DP) to pixels (returned).
*  Needs the DPI ($K-DPI) of the screen as an input. 
*  A dp-pixel is a notational pixel on a 160 dpi screen.
*  Dip should always be used for layout in GM design.
*/
/* 
* Scale independent pixels (Sip) to pixels. 
* Sip also incorporate any additional user (or designer) 
* modification of font scaling. Sip should used always
* be used with font scaling (K-FS) in GM design.  
*/
/* 
*
* Utility function to convert pixels to em where $K-FSize is 
* the default font size (default 16 px)
*
*/
/****************************************************************************************************
*
*  Google layout grid stuff.
*
****************************************************************************************************/
/****************************************************************************************************
*
*  Set Roboto as the body font.
*
****************************************************************************************************/
/* line 145, ../../scss/_material.scss */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * the blur parameter has to be doubled.
 *
 *
 * Example usage:
 *
 * .card {
 *     width: 95px;
 *     height: 95px;
 *     background: #f4f4f4;
 *     -webkit-transition: all 250ms;
 *     -moz-transition: all 250ms;
 *     transition: all 250ms;
 *     @include MaterialBoxShadow(1);
 *     &:hover {
 *         @include MaterialBoxShadow(3);
 *         -webkit-transform: translateY(-5px);
 *         -moz-transform: translateY(-5px);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */
/*
* The fab class for material buttons.
*/
/* line 208, ../../scss/_material.scss */
.k-material-fab {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: none;
  font-size: 1.5em;
  width: 60px;
  height: 60px;
  margin: auto;
  opacity: 0.75;
}
/* line 220, ../../scss/_material.scss */
.k-material-fab:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  opacity: 1.0;
}

/****************************************************************************************************
*
*  Set the theme colors
*
****************************************************************************************************/
/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/****************************************************************************************************
*
*  Set the theme colors
*
****************************************************************************************************/
/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/*
* Global definitions (don't use defaults)
*/
/* line 7, ../../scss/_k-local.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 13, ../../scss/_k-local.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
* The class for k-active-buttons.
*/
/* line 21, ../../scss/_k-local.scss */
.k-active-button {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: none;
  margin: auto auto;
  padding: 0;
}
/* line 30, ../../scss/_k-local.scss */
.k-active-button:hover {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

/*********************************************************************************************
*
*
* Menu Bar Stuff
*
*
************************************************************************************************/
/* line 67, ../../scss/_k-local.scss */
#k-drug-toolbar {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 9;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #3f51b5;
}
/* line 78, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools {
  height: 40px;
  width: 100%;
  background-color: #1a237e;
}
/* line 84, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools #k-menu-icon-button {
  float: left;
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 10px;
  background-image: url("/images/icons/white_bars24.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 98, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools #k-icon-toolbar-title {
  float: left;
  color: #ff80ab;
  font-weight: 700;
  font-size: 1.8em;
  margin: auto 10px;
}
/* line 108, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools #k-icon-barcode-button {
  float: right;
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 10px;
  background-image: url("/images/icons/white_barcode24.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 122, ../../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools #k-icon-search-button {
  float: right;
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 10px;
  background-image: url("/images/icons/white_search24.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 139, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar {
  font-size: 1.3em;
  height: 4em;
  width: 100%;
  background-color: #3f51b5;
}
/* line 146, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar {
  width: 100%;
  height: 2em;
  margin: 0.5em 0 0 0.75em;
  padding: 0;
}
/* line 153, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-title {
  float: left;
  height: 1.5em;
  text-align: left;
  margin: 0;
  padding: 0;
}
/* line 163, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-searchtype {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin-left: 0.5em;
  height: 1.5em;
  color: white;
  background-color: #03a9f4;
  border: solid 2px #1a237e;
  cursor: pointer;
}
/* line 174, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-searchtype:focus {
  border-color: #ff80ab;
}
/* line 180, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-searchtype:hover {
  border-color: #ff80ab;
}
/* line 190, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar {
  width: 100%;
  height: 2em;
  margin: 0 0 0 0.75em;
  padding: 0;
}
/* line 199, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  height: 1.5em;
  width: 14em;
  margin: 0;
  padding: 0 0 0 0.3em;
  color: white;
  border: solid 2px #1a237e;
  background-color: #03a9f4;
}
/* line 211, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext:focus {
  border-color: #ff80ab;
}
/* line 217, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext:hover {
  border-color: #ff80ab;
}
/* line 225, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-md-search {
  float: left;
  position: relative;
  margin: 0 0 0 0.5em;
  top: -0.3em;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 237, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-md-search.searchActive {
  background-color: #ff80ab;
}
/* line 250, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor {
  position: relative;
}
/* line 254, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: absolute;
  top: 1em;
  left: 1em;
  width: 20em;
  background-color: white;
}
/* line 263, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list {
  display: none;
}
/* line 267, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list.promptActive {
  display: block;
}
/* line 273, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list #k-search-prompt-title {
  color: #212121;
  text-align: center;
  height: 2em;
  background-color: #47c4fd;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
/* line 282, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list #k-search-prompt-title #k-search-prompt-dismiss {
  position: relative;
  top: -0.3em;
  left: 0.8em;
  background-image: url("/images/icons/times.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffccde;
}
/* line 297, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 301, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #03a9f4;
}
/* line 309, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item {
  position: relative;
  width: 100%;
  text-align: left;
  color: #212121;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
/* line 319, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item:hover {
  color: #03a9f4;
}
/* line 325, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item .k-search-prompt-type {
  width: 100%;
  color: #303f9f;
  font-size: 0.7em;
  font-weight: 700;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.0em;
}
/* line 337, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item .k-search-prompt-value {
  width: 100%;
  padding-left: 1.5em;
  padding-top: 0em;
  padding-bottom: 0.2em;
}
/* line 354, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list {
  display: none;
}
/* line 358, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list.historyActive {
  display: block;
}
/* line 364, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list #k-search-history-title {
  color: #212121;
  text-align: center;
  padding: 0.3em;
  background-color: #ffccde;
}
/* line 373, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 377, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-transform: translate(0px, -2px);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -o-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #03a9f4;
}
/* line 385, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item {
  position: relative;
  width: 100%;
  text-align: left;
  color: #212121;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
/* line 395, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item:hover {
  color: #ff80ab;
}
/* line 401, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item .k-search-history-type {
  width: 100%;
  color: #303f9f;
  font-size: 0.7em;
  font-weight: 700;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.0em;
}
/* line 413, ../../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item .k-search-history-value {
  width: 100%;
  padding-left: 1.5em;
  padding-top: 0em;
  padding-bottom: 0.2em;
}

/*********************************************************************************************
*
* Modal Image Dialog - Display a larger drug image (800px) with an option to search for
* drugs with the same image (same drug).
*
***********************************************************************************************/
/* line 441, ../../scss/_k-local.scss */
#k-image-display-dialog {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
/* line 451, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-title-bar #k-image-attribution {
  margin-left: 1.5em;
  font-size: 0.7em;
}
/* line 459, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-title-bar #k-image-dialog-dismiss {
  position: relative;
  top: -1em;
  left: 1em;
  background-image: url("/images/icons/times.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff80ab;
}
/* line 475, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-dialog-content {
  margin: 0;
  padding: 0;
}
/* line 486, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-search-bar #k-image-search-text {
  margin-left: 1em;
}
/* line 492, ../../scss/_k-local.scss */
#k-image-display-dialog #k-image-search-bar #k-image-search {
  position: relative;
  margin-left: 0.75em;
  top: -1em;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
}

/*********************************************************************************************
*
*
* Modal Wait.
*
***********************************************************************************************
*
*   Put up a modal wait cursor between an endpoint request and response.
*
*   Start by setting display:none to make this hidden.
*   Positioned in relation to the viewport window
*   with position:fixed. Width, height, top and left.
*   Background to 50% white with
*   animation centered, and no-repeating
*
*
*************************************************************************************************/
/* line 531, ../../scss/_k-local.scss */
#k-modal-wait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(/images/ajax-loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 544, ../../scss/_k-local.scss */
#k-modal-wait.searchactive {
  display: block;
}

/*********************************************************************************************
*
* Search Page and Footer Stuff
* Footer Stuff (Uses the Compass Mixin).
*
*
************************************************************************************************/
/* line 566, ../../scss/_k-local.scss */
#k-layout-footer {
  margin: 0;
  padding: 0;
}

/* line 573, ../../scss/_k-local.scss */
#k-search-footer {
  margin: 0;
  padding: 0;
  text-align: center;
  color: gray;
  background-color: #3f51b5;
}

/* line 583, ../../scss/_k-local.scss */
#k-total-page-width {
  width: 100%;
}

/* line 589, ../../scss/_k-local.scss */
#k-search-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  /* line 589, ../../scss/_k-local.scss */
  #k-search-page {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 589, ../../scss/_k-local.scss */
  #k-search-page {
    width: 600px;
  }
}

/*********************************************************************************************
*
* The Ajax area stuff
*
*
************************************************************************************************/
/* line 616, ../../scss/_k-local.scss */
#k-search-results {
  height: 700px;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-image: url("/images/ScrollBackground.jpg");
  background-position: center top;
  background-size: 100% auto;
}

/*********************************************************************************************
*
*
* Drug Search Results Container classes.
*
*
************************************************************************************************/
/* line 640, ../../scss/_k-local.scss */
.k-display-drug {
  display: block;
  background-color: white;
  border: 1px solid #b3b3b3;
  margin-bottom: 2em;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 1em;
  /*******************************************************************************
  * Display Drug Name
  ********************************************************************************/
  /*******************************************************************************
  * Display Drug Image and Price Information
  ********************************************************************************/
  /*******************************************************************************
  * Display Active Ingredient
  ********************************************************************************/
  /*******************************************************************************
  * Display Package
  ********************************************************************************/
  /*******************************************************************************
  * Display NDC
  ********************************************************************************/
}
/* line 654, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar {
  margin: 0;
  border: none;
  padding: 0;
  background-color: #c5cae9;
  width: 100%;
}
/* line 662, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  margin-left: -0.75em;
  top: -1em;
  opacity: 0.4;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 675, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search.searchactive {
  background-color: #ff80ab;
}
/* line 682, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search:hover {
  opacity: 1.0;
  background-color: #03a9f4;
}
/* line 691, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-drug-name {
  font-size: 1.5em;
  padding: 0.1em;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 701, ../../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-labeler-name {
  font-size: 1em;
  padding: 0.1em;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 716, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 722, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 5px;
  padding: 3px;
  display: none;
}
/* line 730, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image:hover {
  -webkit-transform: translate(0px, -1px);
  -moz-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  -o-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* line 737, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image.hasimage {
  display: block;
}
/* line 743, ../../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image .k-display-image-container {
  margin: 0;
  padding: 0;
  border: none;
}
/* line 762, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients {
  background-color: #ffccde;
  width: 100%;
}
/* line 767, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label {
  height: 2em;
}
/* line 771, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  margin-left: -0.75em;
  top: -0.65em;
  opacity: 0.4;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 785, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search.searchactive {
  background-color: #ff80ab;
}
/* line 792, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search.validselection:hover {
  opacity: 1.0;
  background-color: #03a9f4;
}
/* line 801, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-label-text {
  margin: 0;
  margin-top: 0.1em;
  border: none;
  padding: 0.1em;
  font-size: 1.2em;
  text-align: center;
}
/* line 815, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel {
  margin: 0;
  padding-bottom: 0.5em;
}
/* line 821, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line {
  margin-left: 2em;
}
/* line 826, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name {
  background-color: #ffccde;
}
/* line 830, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name .k-display-ingredient-name-icon {
  opacity: 0;
}
/* line 836, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name.activeselected {
  background-color: #ffb3cd;
}
/* line 841, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name.activeselected .k-display-ingredient-name-icon {
  opacity: 0.7;
}
/* line 851, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength {
  margin-left: 1.0em;
  background-color: #ffccde;
}
/* line 856, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength .k-display-ingredient-strength-icon {
  opacity: 0;
}
/* line 862, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength.strengthselected {
  background-color: #ffb3cd;
}
/* line 867, ../../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength.strengthselected .k-display-ingredient-strength-icon {
  opacity: 0.7;
}
/* line 887, ../../scss/_k-local.scss */
.k-display-drug .k-display-package-container {
  width: 100%;
}
/* line 891, ../../scss/_k-local.scss */
.k-display-drug .k-display-package-container .k-display-package-description {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  margin-left: 2.0em;
  margin-right: 1.0em;
  border: none;
  padding: 0.1em;
  font-size: 0.9em;
}
/* line 909, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container {
  margin: 0;
  border: none;
  padding: 0;
  background-color: #c5cae9;
  width: 100%;
}
/* line 917, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: relative;
  margin-left: -0.75em;
  top: -1em;
  opacity: 0.4;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 930, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search.searchactive {
  background-color: #ff80ab;
}
/* line 937, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search.focus {
  opacity: 1.0;
  background-color: #03a9f4;
}
/* line 946, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-title {
  font-size: 1.2em;
  padding: 0.1em;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 956, ../../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-value {
  font-size: 1em;
  padding: 0.1em;
  border: none;
  margin: 0;
  line-height: 105%;
}
