/*
*
* This file implements the SASS primitives for the implementation of the Google Material Design Specification
* 
*
*/
/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/****************************************************************************************************
*
*  Google size unit Sass functions.
*
****************************************************************************************************/
/*
*  Density-independent pixel ($K-DP) to pixels (returned).
*  Needs the DPI ($K-DPI) of the screen as an input. 
*  A dp-pixel is a notational pixel on a 160 dpi screen.
*  Dip should always be used for layout in GM design.
*/
/* 
* Scale independent pixels (Sip) to pixels. 
* Sip also incorporate any additional user (or designer) 
* modification of font scaling. Sip should used always
* be used with font scaling (K-FS) in GM design.  
*/
/* 
*
* Utility function to convert pixels to em where $K-FSize is 
* the default font size (default 16 px)
*
*/
/****************************************************************************************************
*
*  Google layout grid stuff.
*
****************************************************************************************************/
/****************************************************************************************************
*
*  Set Roboto as the body font.
*
****************************************************************************************************/
/* line 146, ../scss/_material.scss */
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

/**
 * A mixin which helps you to add depth to elements according to the Google Material Design spec:
 * http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality
 *
 * Please note that the values given in the specification cannot be used as is. To create the same visual experience
 * the blur parameter has to be doubled.
 *
 *
 * Example usage:
 *
 * .card {
 *     width: 95px;
 *     height: 95px;
 *     background: #f4f4f4;
 *     -webkit-transition: all 250ms;
 *     -moz-transition: all 250ms;
 *     transition: all 250ms;
 *     @include MaterialBoxShadow(1);
 *     &:hover {
 *         @include MaterialBoxShadow(3);
 *         -webkit-transform: translateY(-5px);
 *         -moz-transform: translateY(-5px);
 *         transform: translateY(-5px);
 *     }
 * }
 *
 */
/****************************************************************************************************
*
* The fab class for material buttons.
*
*****************************************************************************************************/
/* line 211, ../scss/_material.scss */
.k-material-fab {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: none;
  font-size: 1.5em;
  width: 60px;
  height: 60px;
  margin: auto;
  opacity: 0.75;
}
/* line 223, ../scss/_material.scss */
.k-material-fab:hover {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  opacity: 1.0;
}

/*******************************************************************************************************************
*
* The class for k-material-raised-buttons.
*
********************************************************************************************************************/
/* line 240, ../scss/_material.scss */
.k-material-raised-button {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  margin: auto auto;
  padding: 0;
}
/* line 249, ../scss/_material.scss */
.k-material-raised-button:hover {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

/*******************************************************************************************************************
*
* The class for k-material-flat-buttons.
*
********************************************************************************************************************/
/* line 266, ../scss/_material.scss */
.k-material-flat-button {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  margin: auto auto;
  padding: 0;
}
/* line 274, ../scss/_material.scss */
.k-material-flat-button:hover {
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  -webkit-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
}

/**************************************************************************************************************
*
* A simple line divider object.
*
***************************************************************************************************************/
/* line 291, ../scss/_material.scss */
.k-material-divider {
  display: block;
  width: 100%;
  border-top: 1px solid #bdbdbd;
  margin: 0;
}

/****************************************************************************************************
*
* The dialog classes for material popup dialogs.
*
*****************************************************************************************************/
/* line 308, ../scss/_material.scss */
.k-material-modal {
  /* A translucent div that covers the whole screen */
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 318, ../scss/_material.scss */
.k-material-modal .k-material-modal-overlay {
  /* A translucent div that covers the whole screen */
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 329, ../scss/_material.scss */
.k-material-modal .k-material-modal-overlay .k-material-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  position: absolute;
  z-index: 10000;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 95%;
  max-height: 95%;
  background-color: white;
  /* Throw a shadow */
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
/* line 345, ../scss/_material.scss */
.k-material-modal .k-material-modal-overlay .k-material-modal-dialog .k-material-dialog-dismiss {
  position: absolute;
  top: -0.6em;
  right: -0.6em;
  background-image: url("/images/icons/times.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ff80ab;
}
/* line 359, ../scss/_material.scss */
.k-material-modal .k-material-modal-overlay .k-material-modal-dialog .k-material-modal-content {
  width: 100%;
  height: 100%;
}

/****************************************************************************************************
*
*  Set the theme colors
*
****************************************************************************************************/
/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/****************************************************************************************************
*
*  Set the theme colors
*
****************************************************************************************************/
/**************************************************************************
*
* Text Colors (Black)
*
***************************************************************************/
/**************************************************************************
*
* Text Colors (White)
*
***************************************************************************/
/*************************************************************************************************************
*
* Global definitions (don't use defaults)
*
*************************************************************************************************************/
/* line 9, ../scss/_k-local.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
}

/* line 15, ../scss/_k-local.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*****************************************************************************************************************
*
* Menu Bar, search ahead and history
*
******************************************************************************************************************/
/* line 47, ../scss/_k-local.scss */
#k-drug-toolbar {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 9;
  width: 100%;
  margin: 0;
  padding: 0;
  color: white;
  background-color: #3f51b5;
}
/* line 58, ../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools {
  height: 40px;
  width: 100%;
  background-color: #1a237e;
}
/* line 64, ../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools #k-menu-icon-button {
  float: left;
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 10px;
  background-image: url("/images/icons/white_bars24.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 78, ../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools #k-icon-toolbar-title {
  float: left;
  color: #ff80ab;
  font-weight: 700;
  font-size: 1.8em;
  margin: auto 10px;
}
/* line 88, ../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools #k-icon-barcode-button {
  float: right;
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 10px;
  background-image: url("/images/icons/white_barcode24.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 102, ../scss/_k-local.scss */
#k-drug-toolbar #k-icon-toolbar-tools #k-icon-search-button {
  float: right;
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 10px;
  background-image: url("/images/icons/white_search24.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 119, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar {
  font-size: 1.3em;
  height: 4em;
  width: 100%;
  background-color: #3f51b5;
}
/* line 126, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar {
  width: 100%;
  height: 2em;
  margin: 0.5em 0 0 0.75em;
  padding: 0;
}
/* line 133, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-title {
  float: left;
  height: 1.5em;
  text-align: left;
  margin: 0;
  padding: 0;
}
/* line 143, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-searchtype {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  margin-left: 0.5em;
  height: 1.5em;
  color: white;
  background-color: #03a9f4;
  border: solid 2px #1a237e;
  cursor: pointer;
}
/* line 154, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-searchtype:focus {
  border-color: #ff80ab;
}
/* line 160, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-type-toolbar #k-search-searchtype:hover {
  border-color: #ff80ab;
}
/* line 170, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar {
  width: 100%;
  height: 2em;
  margin: 0 0 0 0.75em;
  padding: 0;
}
/* line 179, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  float: left;
  height: 1.5em;
  width: 14em;
  margin: 0;
  padding: 0 0 0 0.3em;
  color: white;
  border: solid 2px #1a237e;
  background-color: #03a9f4;
}
/* line 191, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext:focus {
  border-color: #ff80ab;
}
/* line 197, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-search-searchtext:hover {
  border-color: #ff80ab;
}
/* line 205, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-perform-search {
  float: left;
  position: absolute;
  margin: 0 0 0 0.5em;
  top: 2.6em;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 217, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-toolbar #k-search-text-toolbar #k-perform-search.searchActive {
  background-color: #ff80ab;
}
/* line 230, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor {
  position: relative;
}
/* line 234, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container {
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: none;
  position: absolute;
  top: 1em;
  left: 1em;
  width: 20em;
  background-color: white;
}
/* line 245, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container.searchPromptActive {
  display: block;
}
/* line 251, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-dismiss {
  position: absolute;
  top: -0.3em;
  left: 12em;
  background-image: url("/images/icons/times.svg");
  background-size: 36px 36px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffccde;
}
/* line 264, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list {
  display: none;
}
/* line 268, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list.promptActive {
  display: block;
}
/* line 274, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list #k-search-prompt-title {
  color: black;
  text-align: center;
  height: 2em;
  background-color: #c5cae9;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
/* line 285, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 289, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array:hover {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #03a9f4;
}
/* line 297, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item {
  position: relative;
  width: 100%;
  text-align: left;
  color: black;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
/* line 307, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item:hover {
  color: #03a9f4;
}
/* line 313, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item .k-search-prompt-type {
  width: 100%;
  color: #303f9f;
  font-size: 0.7em;
  font-weight: 700;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.0em;
}
/* line 325, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-prompt-container #k-search-prompt-list .k-search-prompt-array .k-search-prompt-item .k-search-prompt-value {
  width: 100%;
  padding-left: 1.5em;
  padding-top: 0em;
  padding-bottom: 0.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
/* line 345, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list {
  display: none;
}
/* line 349, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list.historyActive {
  display: block;
}
/* line 355, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list #k-search-history-title {
  color: black;
  text-align: center;
  padding: 0.3em;
  background-color: #ffccde;
}
/* line 364, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 368, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array:hover {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  -webkit-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
  color: #03a9f4;
}
/* line 376, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item {
  position: relative;
  width: 100%;
  text-align: left;
  color: black;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
/* line 386, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item:hover {
  color: #ff80ab;
}
/* line 392, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item .k-search-history-type {
  width: 100%;
  color: #303f9f;
  font-size: 0.7em;
  font-weight: 700;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.0em;
}
/* line 404, ../scss/_k-local.scss */
#k-drug-toolbar #k-search-prompt-anchor #k-search-history-list .k-search-history-array .k-search-history-item .k-search-history-value {
  width: 100%;
  padding-left: 1.5em;
  padding-top: 0;
  padding-bottom: 0.2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*********************************************************************************************
*
* Modal Image Dialog - Display a larger drug image (800px) with an option to search for
* drugs with the same image (same drug).
*
***********************************************************************************************/
/* line 435, ../scss/_k-local.scss */
#k-image-display-dialog {
  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;
}
/* line 443, ../scss/_k-local.scss */
#k-image-display-dialog #k-image-attribution {
  margin-left: 1.5em;
  font-size: 0.7em;
}
/* line 451, ../scss/_k-local.scss */
#k-image-display-dialog #k-image-dialog-content {
  overflow: auto;
  margin: 0;
  padding: 0;
}
/* line 458, ../scss/_k-local.scss */
#k-image-display-dialog #k-image-dialog-content #k-dialog-image {
  width: 100%;
  height: 100%;
}
/* line 467, ../scss/_k-local.scss */
#k-image-display-dialog #k-image-search-bar {
  display: inline-block;
  /* older browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  position: relative;
  margin: 0;
  padding: 0;
}
/* line 475, ../scss/_k-local.scss */
#k-image-display-dialog #k-image-search-bar #k-image-search-text {
  margin: 0 1em 0 1em;
  padding: 0;
}
/* line 482, ../scss/_k-local.scss */
#k-image-display-dialog #k-image-search-bar #k-image-search {
  position: absolute;
  top: -0.7em;
  right: -2em;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}

/*********************************************************************************************
*
* Modal Search Dialog - Verify user input
*
***********************************************************************************************/
/* line 511, ../scss/_k-local.scss */
#k-search-dialog-content #k-search-dialog-heading {
  width: 100%;
  padding: 0 2rem 0 2rem;
  font-size: 1.2em;
  margin: 2rem 0 2rem 0;
  color: black;
}
/* line 521, ../scss/_k-local.scss */
#k-search-dialog-content #k-search-dialog-text {
  width: 100%;
  padding: 0 2rem 0 1.5rem;
  font-size: 1em;
  margin: 0 0 2rem 0;
  color: black;
}
/* line 531, ../scss/_k-local.scss */
#k-search-dialog-content #k-search-dialog-actions {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  width: 100%;
  padding: 0.5rem;
}
/* line 539, ../scss/_k-local.scss */
#k-search-dialog-content #k-search-dialog-actions #k-search-dialog-confirm {
  padding: 0.4em;
  margin: 0 1rem 0 0;
  background-color: #259b24;
}
/* line 547, ../scss/_k-local.scss */
#k-search-dialog-content #k-search-dialog-actions #k-search-dialog-modify {
  padding: 0.4em;
  margin: 0 1rem 0 0;
  background-color: #e51c23;
}

/*********************************************************************************************
*
* Modal Error Dialog
*
***********************************************************************************************/
/* line 569, ../scss/_k-local.scss */
#k-error-dialog-content #k-error-dialog-heading {
  width: 100%;
  padding: 0 2rem 0 2rem;
  font-size: 1.2em;
  margin: 2rem 0 2rem 0;
  color: black;
}
/* line 579, ../scss/_k-local.scss */
#k-error-dialog-content #k-error-dialog-status {
  width: 100%;
  padding: 0 2rem 0 1.5rem;
  font-size: 1.2em;
  margin: 2rem 0 1rem 0;
  color: black;
}
/* line 589, ../scss/_k-local.scss */
#k-error-dialog-content #k-error-dialog-text {
  width: 100%;
  padding: 0 2rem 0 1.5rem;
  font-size: 1em;
  margin: 0 0 1rem 0;
  color: black;
}
/* line 599, ../scss/_k-local.scss */
#k-error-dialog-content #k-error-dialog-action {
  width: 100%;
  padding: 0 2rem 0 1.5rem;
  font-size: 1em;
  margin: 0 0 1rem 0;
  color: black;
}

/*********************************************************************************************
*
* Modal Wait.
*
***********************************************************************************************
*
*   Put up a modal wait cursor between an endpoint request and response.
*
*   Start by setting display:none to make this hidden.
*   Positioned in relation to the viewport window
*   with position:fixed. Width, height, top and left.
*   Background to 30% white with
*   animation centered, and no-repeating
*
*************************************************************************************************/
/* line 633, ../scss/_k-local.scss */
#k-modal-wait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url(/images/ajax-loader.gif);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 646, ../scss/_k-local.scss */
#k-modal-wait.searchactive {
  display: block;
}

/************************************************************************************************************
*
* Top Level Search Page (index.html) and Footer Stuff
*
************************************************************************************************************/
/* line 665, ../scss/_k-local.scss */
#k-total-page-width {
  width: 100%;
}

/* line 671, ../scss/_k-local.scss */
#k-search-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 600px) {
  /* line 671, ../scss/_k-local.scss */
  #k-search-page {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* line 671, ../scss/_k-local.scss */
  #k-search-page {
    width: 600px;
  }
}
/* line 689, ../scss/_k-local.scss */
#k-search-page #k-include-drug-header {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
/* line 698, ../scss/_k-local.scss */
#k-search-page #k-include-display-results {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
/* line 706, ../scss/_k-local.scss */
#k-search-page #k-search-footer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 1.4em;
  text-align: center;
  color: gray;
  background-color: #3f51b5;
}

/***************************************************************************************************************
*
* The search result display area, including background.
*
****************************************************************************************************************/
/* line 732, ../scss/_k-local.scss */
#k-search-results {
  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow-y: scroll;
  background-image: url("/images/ScrollBackground.jpg");
  background-position: center top;
  background-size: 100% auto;
}
@media only screen and (max-height: 750px) {
  /* line 732, ../scss/_k-local.scss */
  #k-search-results {
    height: 700px;
  }
}
@media only screen and (min-height: 750px) {
  /* line 732, ../scss/_k-local.scss */
  #k-search-results {
    height: 750px;
  }
}

/**************************************************************************************************************
*
*
* Drug Search Results Container classes.
*
*
**************************************************************************************************************/
/* line 777, ../scss/_k-local.scss */
.k-display-drug {
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: block;
  background-color: white;
  border: 1px solid #b3b3b3;
  margin: 2em 1em 2em 1em;
  /*******************************************************************************
  * Display Drug Name
  ********************************************************************************/
  /*******************************************************************************
  * Display Drug Image and Price Information
  ********************************************************************************/
  /*******************************************************************************
  * Display Active Ingredient
  ********************************************************************************/
  /*******************************************************************************
  * Display Package
  ********************************************************************************/
  /*******************************************************************************
  * Display NDC
  ********************************************************************************/
}
/* line 789, ../scss/_k-local.scss */
.k-display-drug .k-display-header-bar {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
  background-color: #c5cae9;
  width: 100%;
}
/* line 798, ../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  left: -0.75em;
  top: -1em;
  opacity: 0.4;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 811, ../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search.searchactive {
  background-color: #ff80ab;
}
/* line 818, ../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-name-search:hover {
  opacity: 1.0;
}
/* line 826, ../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-drug-name {
  font-size: 1.5em;
  padding: 0.1em 1rem 0.1em 2.5rem;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 836, ../scss/_k-local.scss */
.k-display-drug .k-display-header-bar .k-display-labeler-name {
  font-size: 1em;
  padding: 0.1em 1rem 0.1em 2.5em;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 851, ../scss/_k-local.scss */
.k-display-drug .k-display-image-price {
  position: relative;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
}
/* line 861, ../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: none;
  margin: 5px;
  cursor: pointer;
}
/* line 869, ../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image:hover {
  -moz-transform: translate(0px, -1px);
  -ms-transform: translate(0px, -1px);
  -webkit-transform: translate(0px, -1px);
  transform: translate(0px, -1px);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/* line 876, ../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image.hasimage {
  display: block;
}
/* line 882, ../scss/_k-local.scss */
.k-display-drug .k-display-image-price .k-display-drug-image .k-display-small-image {
  float: left;
  margin: 3px;
}
/* line 897, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients {
  display: none;
  position: relative;
  background-color: #ffccde;
  width: 100%;
}
/* line 904, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients.hasactive {
  display: block;
}
/* line 910, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label {
  height: 2em;
}
/* line 914, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  margin-left: -0.75em;
  top: -0.65em;
  opacity: 0;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 928, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search.validselection {
  opacity: 0.4;
}
/* line 934, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search.searchactive {
  background-color: #ff80ab;
}
/* line 941, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-search:hover {
  opacity: 1.0;
}
/* line 949, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-active-label .k-display-active-label-text {
  width: 100%;
  margin: 0;
  border: none;
  padding: 0.1em 1rem 0.1em 2.5rem;
  font-size: 1.2em;
}
/* line 962, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel {
  width: 100%;
  margin: 0;
  padding-bottom: 0.5em;
}
/* line 969, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line {
  width: 100%;
}
/* line 974, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name {
  float: left;
  max-width: 75%;
  margin: 0.2em 0 0 2.3rem;
  padding: 0.2em 0.2em 0.2em 0.2rem;
  background-color: #ffccde;
}
/* line 982, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name .k-display-ingredient-name-icon {
  opacity: 0;
}
/* line 988, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name.activeselected {
  background-color: #ffb3cd;
}
/* line 993, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-name.activeselected .k-display-ingredient-name-icon {
  opacity: 0.7;
}
/* line 1003, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength {
  float: left;
  max-width: 35%;
  margin: 0.2em 0 0 0.8rem;
  padding: 0.2em 0 0.2em 0.2rem;
  background-color: #ffccde;
}
/* line 1011, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength .k-display-ingredient-strength-icon {
  opacity: 0;
}
/* line 1017, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength.strengthselected {
  background-color: #ffb3cd;
}
/* line 1022, ../scss/_k-local.scss */
.k-display-drug .k-display-active-ingredients .k-display-ingredient-panel .k-display-ingredient-line .k-display-ingredient-strength.strengthselected .k-display-ingredient-strength-icon {
  opacity: 0.7;
}
/* line 1042, ../scss/_k-local.scss */
.k-display-drug .k-display-package-container {
  width: 100%;
  background-color: white;
}
/* line 1047, ../scss/_k-local.scss */
.k-display-drug .k-display-package-container .k-display-package-description {
  padding: 0.3em 1.0rem 0.3em 2.5rem;
  border: none;
  margin: 0;
  font-size: 0.9em;
}
/* line 1062, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container {
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
  background-color: #c5cae9;
  width: 100%;
}
/* line 1071, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search {
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  margin-left: -0.75em;
  top: -1em;
  opacity: 0.4;
  background-image: url("/images/icons/search24.svg");
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #03a9f4;
}
/* line 1084, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search.searchactive {
  background-color: #ff80ab;
}
/* line 1091, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc9-search:hover {
  opacity: 1.0;
}
/* line 1099, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-title {
  font-size: 1.2em;
  padding: 0.1em 1rem 0.1em 2.5rem;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 1109, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes {
  display: inline-block;
  /* non-flexbox browsers */
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 2.5rem;
}
/* line 1118, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin-right: 1em;
}
/* line 1125, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc .k-display-ndc-title {
  color: #303f9f;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0.1em 0 0.1em 0;
  border: none;
  margin: 0;
}
/* line 1136, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc .k-display-ndc-value {
  font-size: 1em;
  padding: 0.1em 0 0.1em 0;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 1144, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc .k-display-ndc-value .k-display-ndc-format {
  font-size: 0.7em;
}
/* line 1154, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc11 {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
/* line 1160, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc11 .k-display-ndc11-title {
  color: #303f9f;
  font-size: 0.7em;
  font-weight: 700;
  padding: 0.1em 0 0.1em 0;
  border: none;
  margin: 0;
}
/* line 1169, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc11 .k-display-ndc11-title .k-display-ndc11-package {
  font-weight: 500;
}
/* line 1177, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc11 .k-display-ndc11-value {
  font-size: 1.0em;
  padding: 0.1em 0 0.1em 0;
  border: none;
  margin: 0;
  line-height: 105%;
}
/* line 1185, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc11 .k-display-ndc11-value .k-display-ndc11-ndc9 {
  font-weight: 700;
}
/* line 1191, ../scss/_k-local.scss */
.k-display-drug .k-display-ndc-container .k-display-ndc-codes .k-display-ndc11 .k-display-ndc11-value .k-display-ndc11-format {
  font-size: 0.7em;
}
