<k-material-dialog id="k-about-dialog" displaydialog="aboutDialog.initialize()">

    <div id="k-about-dialog-content">

        <div id="k-about-dialog-title">PharmCat</div>

        <div id="k-about-dialog-description"><strong>Search for prescription pharmaceuticals approved for sale in the United States.</strong></div>

        <div id="k-about-dialog-text"><strong>Development (pre-release), Version gc 0.49, 11th Febrary 2015.</strong></div>

        <div id="k-about-dialog-developer">Designed and coded by <a href="http://kellerberrin.com.au">Kellerberrin</a>.
            We specialize in using cryptographic techniques to authenticate pharmaceuticals.
        </div>

        <div id="k-about-dialog-attribution">Information in this database has been obtained from
            the United States Food and Drug Administration and the United States National Library of Medicine.
        </div>

    </div>

</k-material-dialog>
