<k-material-dialog id="k-barcode-dialog" displaydialog="barCodeDialog.initialize()">

    <div id="k-barcode-dialog-content">

        <div id="k-barcode-dialog-GTIN">14 Digit NDC (GTIN or Bar Code)</div>

        <input id="k-barcode-GTIN-input"
               type="text"
               autocomplete="no"
               class="k-input-text"
               aria-label="GTIN Text Input">
        </input>

        <div id="k-barcode-dialog-authcode">Serial Code</div>

        <div id="k-barcode-authcode-container">

            <div id="k-barcode-authcode-spacer-1"></div>

            <input id="k-barcode-authcode-input"
                   type="text"
                   autocomplete="no"
                   class="k-input-text"
                   aria-label="AuthCode Text Input">
            </input>

            <div id="k-barcode-authcode-spacer-2"></div>

        </div>

        <div id="k-barcode-captcha"
             class="g-recaptcha"
             data-sitekey="6LcEZQATAAAAAM3csszGhzvXpShpq2Dwgz6QtVKW">
        </div>

        <div id="k-barcode-authenticate-bar">

            <div id="k-barcode-authenticate-text">Authenticate</div>

            <div id="k-barcode-authenticate" class="k-material-fab"></div>

        </div>

    </div>


</k-material-dialog>
