<k-material-dialog id="k-barcode-dialog" displaydialog="barCodeDialog.initialize()">

    <div id="k-barcode-dialog-content" ng-controller="AuthenticateController">

        <div id="k-barcode-dialog-Title">Verify Serial Code</div>

        <div id="k-barcode-dialog-GTIN">Bar Code <strong>or</strong> NDC(10)</div>

        <input id="k-barcode-GTIN-input"
               type="text"
               autocomplete="no"
               class="k-input-text"
               ng-model="barCodeDialog.initialize().barCode"
               aria-label="GTIN Text Input">
        </input>

        <div id="k-barcode-dialog-authcode">Serial Code</div>

        <input id="k-barcode-authcode-input"
               type="text"
               autocomplete="no"
               class="k-input-text"
               ng-model="barCodeDialog.initialize().serialCode"
               aria-label="AuthCode Text Input">
        </input>

        <div id="k-barcode-authenticate-result" ng-show="authenticate.verification()">

            <div id="k-barcode-authenticate-result-title">Code Cannot Be Verified</div>

            <div id="k-barcode-authenticate-result-text">Distributor serial code database not available.</div>

        </div>

        <div id="k-barcode-captcha"></div>

        <div id="k-barcode-captcha-label" ng-show="authenticate.notCaptchaStatus()">Validate the Captcha</div>

        <div id="k-barcode-authenticate-bar" ng-show="authenticate.captchaStatus()">

            <div id="k-barcode-authenticate-text">Verify</div>

            <div id="k-barcode-authenticate" class="k-material-fab" ng-click="verifySerialCode()"></div>

        </div>

    </div>


</k-material-dialog>
