<!-- Retrieves and verifies the search data of the Drug Search application -->

<div id="k-drug-toolbar" ng-controller="SearchController">


    <div id="k-icon-toolbar-tools">

        <span id="k-icon-toolbar-title">PharmCat</span>
        <span id="k-icon-toolbar-subtitle">US Drug Search</span>

        <div id="k-icon-barcode-button"
                class="k-material-flat-button"
                ng-click="barCodeDialog()"
                ng-class="{ authready : authenticate.authReady() }"
                aria-label="Scan Barcode">
        </div>

        <div id="k-icon-search-button"
                class="k-material-flat-button"
                ng-click="searchMenu()"
                aria-label="Search Menu">
        </div>

        <!-- The Search Menu Popup -->
        <!-- Important! The popup is positioned relative to icon toolbar element -->
        <div id="k-search-menu-anchor" ng-include src=" 'partial/SearchMenu.html' "></div>
        <!-- End Search Prompt Popup -->

    </div>

    <div id="k-search-toolbar">

        <div id="k-search-type-toolbar">

            <div id="k-search-title">Search by</div>

            <select id="k-search-searchtype"
                    ng-model="search.selectedsearchtype"
                    ng-options="s.typeprompt for s in searchTypes.getTypesArray()"
                    aria-label="Select Search Type">
            </select>

        </div>

        <!-- Horizontal -->

        <div id="k-search-text-toolbar">

            <input id="k-search-searchtext"
                   type="text"
                   autocomplete="no"
                   class="k-input-text"
                   ng-model="search.searchtext"
                   ng-keyup="inputkeystroke($event)"
                   k-focusin="inputactive()"
                   k-focusout="delayinactive()"
                   aria-label="Search Text Input">
            </input>

            <div id="k-perform-search"
                 class="k-material-fab"
                 ng-click="getParamsSearch()"
                 ng-class="{ searchActive : results.getSearchActive() }"
                 aria-label="Perform Drug Search">
            </div>

        </div>

    </div>

    <!-- The Search Prompt Popup -->
    <!-- Important! The popup is positioned relative to this element -->
    <div id="k-search-prompt-anchor" ng-include src=" 'partial/SearchPrompt.html' "></div>
    <!-- End Search Prompt Popup -->

</div>
