<k-material-dialog id="k-display-search-example-dialog" displaydialog="exampleDialog.initialize()">

    <div id="k-example-dialog-content">

        <div id="k-example-dialog-title">Search by <strong>Name</strong></div>

        <div id="k-example-explanation-text">The PharmCat background image shows the common Cattail
            (Typha Latifolia). The pollen of this plant is used in anti-allergy pharmaceuticals.</div>

        <div id="k-example-search-bar">

            <div id="k-example-search-text">Search by <strong>Name</strong> for <strong>Cattail</strong></div>

            <div id="k-example-search"
                    class="k-material-fab"
                    ng-click="exampleDialog.exampleSearch()">
            </div>

        </div>

    </div>

</k-material-dialog>
