<k-material-dialog id="k-search-dialog" displaydialog="searchDialog.initialize()">

    <div id="k-search-dialog-content">

        <div id="k-search-dialog-heading"><span>Confirm or Modify Search</span></div>

        <div id="k-search-dialog-text">{{ searchDialog.reason() }}</div>

        <div class="k-material-divider"></div>

        <div id="k-search-dialog-actions">

            <button id="k-search-dialog-confirm"
                    class="k-material-flat-button"
                    ng-click="searchDialog.modifySearch(false)">Confirm</button>

            <button id="k-search-dialog-modify"
                    class="k-material-flat-button"
                    ng-click="searchDialog.modifySearch(true)">Modify</button>

        </div>

    </div>

</k-material-dialog>
