@import "material-local";
@import "material";

/*************************************************************************************************************
*
* Global definitions (don't use defaults)
*
*************************************************************************************************************/

* {
  margin: 0;
  padding: 0;
  border: none;
}

* {
  @include box-sizing(border-box);
}

/*********************************************************************************************
*
* Example Dialog - If the user clicks on the background image - do an example search.
*
***********************************************************************************************/

$K-ExampleDialog-Search-Inactive-color: $md-light-blue-500;

#k-example-dialog-content {
  // dialog box

  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;

  #k-example-dialog-title {

    width: 100%;
    padding: 0 2rem 0 2rem;
    font-size: 1.4em;
    margin: 2rem 0 0 0;
    color: $md-black-display-text;

  }

  #k-example-explanation-text {
    // NLM attribution text

    width: 100%;
    margin: 2rem 0 0 0;
    padding: 0 2rem 0 2rem;
    font-size: 1em;
    color: $md-black-display-text;

  }

  #k-example-search-bar {

    @include display-flex(inline-flex);
    position: relative;
    margin: 2rem 0 0 0;
    padding: 0;

    #k-example-search-text {

      margin: 0 1em 0 2rem;
      padding: 0;

    }

    #k-example-search {
      // The search button

      position: absolute;
      top: -0.7em;
      right: -2em;
      background-image: url("/images/icons/search24.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-ExampleDialog-Search-Inactive-color;

    }

  }

}

/*********************************************************************************************
*
* Modal Image Dialog - Display a larger drug image (800px) with an option to search for
* drugs with the same image (same drug).
*
***********************************************************************************************/

$K-ImageDialog-Search-Inactive-color: $md-light-blue-500;
$K-Wait-Image-Image-Path: "/images/ajax-loader.gif";

#k-image-display-dialog {
  // dialog box

  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;

  #k-image-attribution {
    // NLM attribution text

    margin-left: 1.5em;
    font-size: 0.7em;

  }

  #k-image-dialog-content {
    // image context area

    overflow: auto;
    margin: 0;
    padding: 0;

    #k-dialog-image {

      width: 100%;
      height: 100%;
      background-image: url(#{$K-Wait-Image-Image-Path}); //spinning image
      background-position: 50% 50%; // centered
      background-repeat: no-repeat; // only once

    }

  }

  #k-image-search-bar {

    @include display-flex(inline-flex);
    position: relative;
    margin: 0;
    padding: 0;

    #k-image-search-text {

      margin: 0 1em 0 1em;
      padding: 0;

    }

    #k-image-search {
      // The search button

      position: absolute;
      top: -0.7em;
      right: -2em;
      background-image: url("/images/icons/search24.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-ImageDialog-Search-Inactive-color;

    }

  }

}

/*********************************************************************************************
*
* Modal Search Dialog - Verify user input
*
***********************************************************************************************/

$K-Search-Confirm-Color: $md-pink-100;
$K-Search-Modify-Color: $md-light-blue-500;

#k-search-dialog-content {

  #k-search-dialog-heading {

    width: 100%;
    padding: 0 2rem 0 2rem;
    font-size: 1.2em;
    margin: 2rem 0 2rem 0;
    color: $md-black-display-text;

  }

  #k-search-dialog-text {

    width: 100%;
    padding: 0 2rem 0 1.5rem;
    font-size: 1em;
    margin: 0 0 2rem 0;
    color: $md-black-primary-text;

  }

  #k-search-dialog-actions {

    @include display-flex;
    @include flex-direction(row);
    @include justify-content(flex-end);
    width: 100%;
    padding: 0.5rem;

    #k-search-dialog-confirm {

      padding: 0.4em;
      margin: 0 1rem 0 0;
      background-color: $K-Search-Confirm-Color;
      font-size: 1.3rem;

    }

    #k-search-dialog-modify {

      padding: 0.4em;
      margin: 0 1rem 0 0;
      background-color: $K-Search-Modify-Color;
      font-size: 1.3rem;

    }

  }

}

/*********************************************************************************************
*
* Barcode dialog box.
*
***********************************************************************************************/

$K-GTIN-Input-Text-Color: $md-black-primary-text;
$K-GTIN-Input-Border-Color: $K-PRIMARY-COLOR-900;
$K-GTIN-Input-Active-Border-Color: $K-ACCENT-COLOR-100;
$K-GTIN-Input-Background-Color: $md-light-blue-500;
$K-AuthCode-Input-Text-Color: $md-black-primary-text;
$K-AuthCode-Input-Border-Color: $K-PRIMARY-COLOR-900;
$K-AuthCode-Input-Active-Border-Color: $K-ACCENT-COLOR-100;
$K-AuthCode-Input-Background-Color: $md-light-blue-500;
$K-BarCode-Background-Color: lighten($K-PRIMARY-COLOR-500, 30%);
$K-Authenticate-Button-color: $md-light-green-700;

#k-barcode-dialog-content {

  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;

  #k-barcode-dialog-Title {

    width: 100%;
    margin: 1rem 0 1rem 0;
    padding-left: 1rem;
    font-size: 1.3em;
    color: $md-black-display-text;

  }

  #k-barcode-dialog-GTIN {

    width: 100%;
    margin: 0;
    padding-left: 1em;
    font-size: 0.9em;
    color: $md-black-display-text;

  }

  #k-barcode-GTIN-input {

    @include border-radius(4px);
    width: 100%;
    font-size: 1.3em;
    height: 1.5em;
    margin: 0;
    padding: 0;
    color: $K-GTIN-Input-Text-Color;
    border: solid 2px $K-GTIN-Input-Border-Color;
    background-color: $K-GTIN-Input-Background-Color;

    &:focus, &:hover {

      border-color: $K-GTIN-Input-Active-Border-Color;

    }

  }

  #k-barcode-dialog-authcode {

    width: 100%;
    margin-top: 1.0em;
    padding-left: 1em;
    font-size: 0.9em;
    color: $md-black-primary-text;

  }

  #k-barcode-authcode-input {

    @include border-radius(4px);
    width: 100%;
    font-size: 1.3em;
    height: 1.5em;
    margin: 0;
    padding: 0;
    color: $K-AuthCode-Input-Text-Color;
    border: solid 2px $K-AuthCode-Input-Border-Color;
    background-color: $K-AuthCode-Input-Background-Color;

    &:focus, &:hover {

      border-color: $K-AuthCode-Input-Active-Border-Color;

    }

  }

  #k-barcode-captcha {

    margin: 2rem 0 2rem 0;
    padding: 0 2rem 0 2rem;

  }

  #k-barcode-authenticate-bar {

    @include display-flex(inline-flex);
    position: relative;
    margin: 0;
    padding: 0;

    #k-barcode-authenticate-text {

      margin: 0 1em 0 1em;
      padding: 0;

    }

    #k-barcode-authenticate {
      // The search button

      position: absolute;
      top: -0.7em;
      right: -2em;
      background-image: url("/images/icons/check.svg");
      background-size: 36px 36px;
      background-repeat: no-repeat;
      background-position: center;
      background-color: $K-Authenticate-Button-color;

    }

  }

}

/*********************************************************************************************
*
* Modal Error Dialog
*
***********************************************************************************************/

#k-error-dialog-content {

  #k-error-dialog-heading {

    width: 100%;
    padding: 0 2rem 0 2rem;
    font-size: 1.2em;
    margin: 2rem 0 2rem 0;
    color: $md-black-display-text;

  }

  #k-error-dialog-status {

    width: 100%;
    padding: 0 2rem 0 1.5rem;
    font-size: 1.2em;
    margin: 2rem 0 1rem 0;
    color: $md-black-primary-text;

  }

  #k-error-dialog-text {

    width: 100%;
    padding: 0 2rem 0 1.5rem;
    font-size: 1em;
    margin: 0 0 1rem 0;
    color: $md-black-primary-text;

  }

  #k-error-dialog-action {

    width: 100%;
    padding: 0 2rem 0 1.5rem;
    font-size: 1em;
    margin: 0 0 1rem 0;
    color: $md-black-primary-text;

  }

}

/*********************************************************************************************
*
* Search Toast
*
***********************************************************************************************/

$K-Search-Toast-Background-color: $K-PRIMARY-COLOR-500;
$K-Search-Toast-Text-color: $md-white-primary-Text;
$K-Search-Toast-Dismiss-Color: $md-pink-a100;

@include keyframes(toast-slide-in) {

  0% {

    @include translate(-50%, 200px);
    opacity: 0;

  }

  100% {

    @include translate(-50%, 0px);
    opacity: 1;

  }

}

@include keyframes(toast-slide-out) {

  0% {

    @include translate(-50%, 0px);
    opacity: 1;

  }

  100% {

    @include translate(-50%, 200px);
    opacity: 0;

  }

}

#k-search-toast {

  /* A centered div above the overlay with a box shadow. */

  @include translate(-50%, 0%);
  position: absolute;
  z-index: 10000;
  bottom: 0px;
  left: 50%;
  width: 400px;
  max-width: 80%;
  height: 60px;
  opacity: 1;

  // animation

  &.ng-hide-remove, &.ng-hide-add {
    /* The .hg-hide class is added to element
       when the active class is added causing it to appear
       as hidden. Therefore set the styling to display:block
       so that the hide animation is visible */
    display: block !important;
  }

  &.ng-hide-add {

    @include animation(toast-slide-out 0.5s ease-in-out);

  }

  &.ng-hide-remove {

    @include animation(toast-slide-in 0.5s ease-in-out);

  }

  #k-search-toast-content {

    /* Throw a shadow */
    @include K-MaterialBoxShadow(4);
    @include border-left-radius(3em);
    height: 100%;
    width: 100%;
    background-color: $K-Search-Toast-Background-color;

    #k-search-toast-message {

      width: 100%;
      padding: 1.5em 1em 1em 2em;
      font-size: 1em;
      color: $K-Search-Toast-Text-color;

    }

  }

  #k-search-toast-dismiss {
    // The dismiss button

    position: absolute;
    top: 0;
    right: -30px;
    background-image: url("/images/icons/times.svg");
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $K-Search-Toast-Dismiss-Color;

  }

}

/*********************************************************************************************
*
* The Search Menu
*
***********************************************************************************************/

$K-Search-Menu-Select-Color: $K-PRIMARY-COLOR-100;

#k-search-menu-container {

  width: 100%;
  height: 100%;
  padding: 10px;

  .k-search-menu-item {

    width: 100%;
    margin: 0;
    padding: 1rem;
    font-size: 1em;
    color: $md-black-primary-text;
    cursor: pointer;

    &:hover {

      background-color: $K-Search-Menu-Select-Color;

    }

  }

}


/*********************************************************************************************
*
* About dialog box.
*
***********************************************************************************************/

$K-About-Title-color: $K-ACCENT-COLOR-200;

#k-about-dialog-content {

  height: 100%;
  width: 100%;
  padding: 10px;
  margin: 0;

  #k-about-dialog-title {

    color: $K-About-Title-color;
    font-weight: 700;
    font-size: 1.8em;
    padding-left: 1rem;
    margin: 1em 0 0 0;

  }

  #k-about-dialog-text {

    width: 100%;
    margin: 1em 0 0 0;
    padding-left: 1em;
    font-size: 1em;
    color: $md-black-display-text;

  }

  #k-about-dialog-developer {

    width: 100%;
    margin: 1em 0 0 0;
    padding-left: 1em;
    font-size: 1em;
    color: $md-black-display-text;

  }

  #k-about-dialog-contact {

    width: 100%;
    margin: 1em 0 0 0;
    padding-left: 1em;
    font-size: 1em;
    color: $md-black-display-text;

  }

  #k-about-dialog-attribution {

    width: 100%;
    margin: 1em 0 0 0;
    padding-left: 1em;
    font-size: 1em;
    color: $md-black-display-text;

  }

}
