@import "material-local";
@import "material";

/*************************************************************************************************************
*
* Global definitions (don't use defaults)
*
*************************************************************************************************************/

* {
  margin: 0;
  padding: 0;
  border: none;
}

* {
  @include box-sizing(border-box);
}

/*****************************************************************************************************************
*
* Search ahead and history
*
******************************************************************************************************************/

$K-Prompt-History-Border: $K-PRIMARY-COLOR-500;
$K-Prompt-Type-Color: $K-PRIMARY-COLOR-700;
$K-Prompt-History-Title-Color: lighten($K-ACCENT-COLOR-100, 15%);
$K-Prompt-Prompt-Title-Color: $K-PRIMARY-COLOR-100;
$K-History-Item-Active-Color: $K-ACCENT-COLOR-100;
$K-Prompt-Item-Active-Color: $md-light-blue-500;
$K-Search-Prompt-Dismiss-Color: $K-ACCENT-COLOR-100;
$K-Search-Type-Color: white;
$K-Search-Type-Background-Color: $md-light-blue-500;
$K-Prompt-Progress-Color: $K-PRIMARY-COLOR-500;

/*****************************************************************************************************************
*
* Animated Prompt Progress Bar.
*
******************************************************************************************************************/

@include keyframes(prompt-progress-bar) {

  0% {

    @include translate(-50%, 0px);

  }

  100% {

    @include translate(0%, 0px);

  }

}

#k-prompt-progress-container {

  height: 2px;
  width: 100%;
  overflow: hidden;
  background-color: $K-Prompt-Prompt-Title-Color;

  #k-prompt-progress-bar {

    @include display-flex;
    @include flex-direction(row);
    @include align-items(flex-start);
    @include animation(prompt-progress-bar 1s linear infinite);
    height: 100%;
    width: 200%;

    #k-prompt-progress-gradient-1 {

      height: 100%;
      width: 50%;
      @include background-image(linear-gradient(to right, rgba($K-Prompt-Progress-Color, 0.3), rgba($K-Prompt-Progress-Color, 1)));

    }

    #k-prompt-progress-gradient-2 {

      height: 100%;
      width: 50%;
      @include background-image(linear-gradient(to right, rgba($K-Prompt-Progress-Color, 0.3), rgba($K-Prompt-Progress-Color, 1)));

    }

  }

}

/*****************************************************************************************************************
*
* The progress and history container markup.
*
******************************************************************************************************************/

#k-search-prompt-container {

  border: solid 2px $K-Prompt-History-Border;

  #k-search-prompt-list {

    display: none;
    border: solid 2px $K-Prompt-Prompt-Title-Color;

    &.promptActive {

      display: block;

    }

    #k-search-prompt-title {

      background-color: $K-Prompt-Prompt-Title-Color;

      #k-search-prompt-key {

        color: $K-Prompt-Type-Color;
        width: 100%;
        font-size: 0.7em;
        font-weight: 700;
        padding-left: 0.5em;
        padding-top: 0.1em;
        padding-bottom: 0.0em;

      }

      #k-search-prompt-text {

        color: $md-black-primary-text;
        width: 100%;
        padding-top: 0;
        padding-bottom: 0.2em;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

      }

    }

    .k-search-prompt-array {

      @include transition(all 0.25s ease-in-out);

      &:hover {

        @include K-MaterialBoxShadow(2);
        @include translate(0px, -2px);
        color: $K-SearchButton-Inactive-color;

      }

      .k-search-prompt-item {

        position: relative;
        width: 100%;
        text-align: left;
        color: $md-black-primary-text;
        cursor: pointer;

        &:hover {

          color: $K-Prompt-Item-Active-Color;

        }

        .k-search-prompt-type {

          width: 100%;
          color: $K-Prompt-Type-Color;
          font-size: 0.7em;
          font-weight: 700;
          padding-left: 0.5em;
          padding-top: 0.1em;
          padding-bottom: 0.0em;

        }

        .k-search-prompt-value {

          width: 100%;
          padding-left: 1.5em;
          padding-top: 0;
          padding-bottom: 0.2em;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

        }

      }

    }

  }

  #k-search-history-list {

    display: none;
    border: solid 2px $K-Prompt-History-Title-Color;

    &.historyActive {

      display: block;

    }

    #k-search-history-title {

      color: $md-black-primary-text;
      text-align: center;
      padding: 0.3em;
      background-color: $K-Prompt-History-Title-Color;

    }

    .k-search-history-array {

      @include transition(all 0.25s ease-in-out);

      &:hover {

        @include K-MaterialBoxShadow(2);
        @include translate(0px, -2px);
        color: $K-SearchButton-Inactive-color;

      }

      .k-search-history-item {

        position: relative;
        width: 100%;
        text-align: left;
        color: $md-black-primary-text;
        cursor: pointer;
        padding: 0;
        margin: 0;

        &:hover {

          color: $K-History-Item-Active-Color;

        }

        .k-search-history-type {

          width: 100%;
          color: $K-Prompt-Type-Color;
          font-size: 0.7em;
          font-weight: 700;
          padding-left: 0.5em;
          padding-top: 0.1em;
          padding-bottom: 0.0em;

        }

        .k-search-history-value {

          width: 100%;
          padding-left: 1.5em;
          padding-top: 0;
          padding-bottom: 0.2em;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;

        }

      }

    }

  }

}


