
/****************************************************************************************************
*
*  Set the theme colors
*
****************************************************************************************************/

@import "material-colors";

// The primary color is Indigo.

$K-PRIMARY-COLOR-100: $md-indigo-100;
$K-PRIMARY-COLOR-500: $md-indigo-500;
$K-PRIMARY-COLOR-700: $md-indigo-700;
$K-PRIMARY-COLOR-900: $md-indigo-900;

// The accent color is Pink.

$K-ACCENT-COLOR-100: $md-pink-a100;
$K-ACCENT-COLOR-200: $md-pink-a200;
$K-ACCENT-COLOR-400: $md-pink-a400;






