@import "material-local";
@import "material";

/*************************************************************************************************************
*
* Global definitions (don't use defaults)
*
*************************************************************************************************************/

* {
  margin: 0;
  padding: 0;
  border: none;
}

* {
  @include box-sizing(border-box);
}


/*********************************************************************************************
*
* Modal Wait.
*
***********************************************************************************************
*
*   Put up a modal wait cursor between an endpoint request and response.
*
*   Start by setting display:none to make this hidden.
*   Positioned in relation to the viewport window
*   with position:fixed. Width, height, top and left.
*   Background to 30% white with
*   animation centered, and no-repeating
*
*************************************************************************************************/

$K-Wait-Image-Path: "/images/ajax-loader.gif";
$K-Wait-Background-color: $K-PRIMARY-COLOR-900;
$K-Material-Wait-color: $K-ACCENT-COLOR-100;

#k-modal-wait {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, .3); //white
  background-image: url(#{$K-Wait-Image-Path}); //spinning image
  background-position: 50% 50%; // centered
  background-repeat: no-repeat; // only once

  &.searchactive {
    // Important! this class is set (see above also) when the endpoints request is active.

    display: block;

  }

}

/************************************************************************************************************
*
* Top Level Search Page (index.html) and Footer Stuff
*
************************************************************************************************************/

$K-Footer-Background-color: $K-PRIMARY-COLOR-500;
$K-Search-Page-Width: 600px;
$K-Footer-Height: 1.4em;

#k-total-page-width {

  width: 100%;

}

#k-search-page {

  display: block;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (max-width: $K-Search-Page-Width) {

    width: 100%;

  }

  @media only screen and (min-width: $K-Search-Page-Width) {

    width: $K-Search-Page-Width;

  }

  & #k-include-drug-header {

    margin: 0;
    padding: 0;
    border: none;
    width: 100%;

  }

  & #k-include-display-results {

    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
  }

  & #k-search-footer {

    margin: 0;
    padding: 0;
    width: 100%;
    height: $K-Footer-Height;
    text-align: center;
    color: gray;
    background-color: $K-Footer-Background-color;

  }

}


/***************************************************************************************************************
*
* The search result display area, including background.
*
****************************************************************************************************************/

$K-Minimum-Search-Page-Height: 700px;
$K-Base-1EM-Pixel-Font-Size: 16;
//$K-Header-Footer-Height: $K-Footer-Height (em) + $K-Top-Ion-Toolbar-Height (px) + $K-Search-Toolbar-Height (em) (approx) 106px
$K-Header-Footer-Height: 50;
$K-Total-Page-Height: ($K-Minimum-Search-Page-Height + $K-Header-Footer-Height);

#k-search-results {

  @media only screen and (max-height: $K-Total-Page-Height) {
    // <= $K-Search-Page-Height

    height: $K-Minimum-Search-Page-Height; // Minimum search page height.

  }

  @media only screen and (min-height: $K-Total-Page-Height) {
    // >= $K-Search-Page-Height

    height: ($K-Minimum-Search-Page-Height + $K-Header-Footer-Height); // Expanded search page height

  }

  width: 100%;
  padding: 0;
  margin: 0;
  border: none;
  overflow-y: scroll;
  background-image: url("/images/ScrollBackground.jpg");
  background-position: center top;
  background-size: 100% auto;

}
