<!-- Macro definitions used by JinJA -->

<!-- Dynamically create input html -->
{% macro input(label, type, name, namecount, value, active='') %}
    {% set namevar = name ~ namecount -%}
    <input type="{{ type }}" id="{{ namevar }}" value="{{ value }}" {{active}}> {{ label }}
{%- endmacro %}

<!-- Create the record count text -->
{% macro recordcount(text, arraysize) -%}
    {% set recordcount = text ~ arraysize ~ " drug(s) (100 max)" -%}
    {{ recordcount }}
{%- endmacro %}

<!-- Create an indexed id string -->
{% macro indexedId(idname, index) -%}
    {% set formid = idname ~ "-" ~ index -%}
    "{{ formid }}"
{%- endmacro %}


{% autoescape true %}

<!-- Data (AJAX) HTML section begins --> 

<div class="row">
 
</div> <!-- row -->
 
<!-- ************* END Experimental accordian code ************************ -->
<!-- ************* START of UVIS  ************************ --> 
    
<!-- Counter for drug records -->
{% set DrugCount = 0 %}    

<div class="row">

    <div class="large-12 columns">

    <!-- Have 1 or more drug records -->
    {% if NDCEnhancedArray is NotEmptyArray %}

        <!-- Have only 1 drug record -->
        {% if NDCEnhancedArray is SingleElementArray %}

            <!-- Increment drug counter variable -->
            {% set DrugCount = DrugCount + 1 %}  

        <div class="row">

            National Drug Code: {{ NDCEnhancedArray[0].NDCRecord.ndc }} ({{ NDCEnhancedArray[0].NDCRecord.format }})

        </div> <!-- row -->
        <div class="row">

            Labeler: {{ NDCEnhancedArray[0].NDCRecord.labellername }}

        </div> <!-- row -->
        <div class="row">

            <!-- Create an count indexed name-search form "<form id="name-search-1" > --> 
            <form id = {{ indexedId("name-search", DrugCount) }}>
            Name: 
            <input id="name-string" 
                   type="submit" 
                   value="{{ NDCEnhancedArray[0].NDCRecord.proprietaryname }}" 
                   class="button radius small"/>                
            </form>
            <!-- Set the submit JS function for the name-search form. -->            
            <script>$("#" + {{ indexedId("name-search", DrugCount) }}).submit(nameSearch);</script> 

        </div> <!-- row -->
               
            <!-- Have 1 or more drug ingredients -->
            {% if NDCEnhancedArray[0].ActiveList is NotEmptyArray %}


                <div class="radius panel">

                <!-- Create a count indexed ingredient form "<form id="ingredient-1" > --> 
                <form id = {{ indexedId("ingredient", DrugCount) }} >
                    <!-- Store the ingredient count in a hidden type -->            
                    <input id="active-count" type="hidden" value={{ NDCEnhancedArray[0].ActiveListSize }} />

                    <!-- Loop through the ingredients --> 

                    {% set Count = 1 %}                
                    {% for Ingredient in NDCEnhancedArray[0].ActiveList %}

                        <div class="row">

                        <!-- Display the drug ingredient -->
                        <div id="submit-i" class="foundicon-plus small radius button">Strength</div>

                        <script>$("#submit-i").click(ingredientSubmit( {{ Count }}
                                                                     , "{{ Ingredient[0] }}"
                                                                     , "{{ Ingredient[1] }}"
                                                                     , "{{ Ingredient[2] }}"));</script>


                        <!-- Store the ingredient data in the form; uses the JINJA indexed id macro-->
                        <script>$("#" + {{ indexedId("ingredient", DrugCount) }}).addIngredient( "{{ Ingredient[0] }}"
                                                                                               , "{{ Ingredient[1] }}"
                                                                                               , "{{ Ingredient[2] }}");</script>
                        <!-- Write out the ingredient -->
                        {{ Ingredient[0] }}; {{ Ingredient[1] }} {{ Ingredient[2] }}

                        {% set Count = Count + 1 %}

                        </div> <!-- row -->

                    {% endfor %}
                
                </form>
                <!-- Set the submit JS function for the ingredient search form. -->                
                <script>$("#" + {{ indexedId("ingredient", DrugCount) }}).submit(ingredientSearch);</script> 

                </div> <!-- radius panel -->

            {% endif %} <!-- 1 or more drug ingredients -->

            
        <div class="row">
        
            Dosage / Route: {{ NDCEnhancedArray[0].NDCRecord.dosageformname }} / {{ NDCEnhancedArray[0].NDCRecord.routename }}

        </div> <!-- row -->

        <div class="row">

            Package: {{ NDCEnhancedArray[0].NDCRecord.packagedescription }}

        </div> <!-- row -->

        <!-- If 1 or more Pharma classes -->
        {% if NDCEnhancedArray[0].Classes is NotEmptyArray %}

        <div class="row"> 

            <!-- If 1 Pharma class -->
            {% if NDCEnhancedArray[0].Classes is SingleElementArray %}
                
                Pharma Class:   <!-- Single Pharma class label -->
                
            {% else %}
            
                Pharma Classes : <!-- Multiple Pharm class label -->
                
            {% endif %} 
            
        </div> <!-- row -->

            <!-- Loop through all the classes -->
            
           <div class="radius panel">

            {% for Class in NDCEnhancedArray[0].Classes %}
                                
        <div class="row"> 
 
 
                {{ Class }} <!-- Print out the Pharma class -->


        </div> <!-- row -->
                    
            {% endfor %}

            </div> <!-- Radius Panel -->
                
        {% endif %} <!-- If 1 or more Pharma classes -->

        <div class="row"> 
 
        11 Digit NDC: {{ NDCEnhancedArray[0].NDCElevenDigits }} (5-4-2)    

        </div> <!-- row -->

    <!-- More than 1 drug record -->
    {% else %}    

        <div class="row"> 

        {{ recordcount("Search found ", NDCEnhancedArraySize) }}

        </div> <!-- row -->

            <table>

            <thead>
            <tr>
            <th scope="col">NDC</th>
            <th scope="col">Drug Name</th>
            <th scope="col">Labeler</th>
            </tr>
            </thead>

            <form id="table-search"> <!-- Form for table submit events --> 

            <tbody>
            {% for NDCEnhanced in NDCEnhancedArray %}
                <tr>
                    <td>
                    <input id="id-string" 
                           type="submit" 
                           value="{{ NDCEnhanced.NDCRecord.ndc }}" 
                           class="button radius small"/>                
                    </td>
                    <td>
                    {{ NDCEnhanced.NDCRecord.proprietaryname }}
                    </td>
                    <td>
                    {{ NDCEnhanced.NDCRecord.labellername }} 
                    </td>                
                </tr>
            {% if NDCEnhanced.ActiveList is NotEmptyArray %}
                    {% for Ingredient in NDCEnhanced.ActiveList %}
                    <tr>
                    <td colspan="3">
                    {{ Ingredient[0] }}; {{ Ingredient[1] }} {{ Ingredient[2] }}
                        </td>
                    </tr>
            {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>

            </form> <!-- Form for table submit events --> 
            <script>$("#table-search").submit(tableSearch);</script> 

            </table>
        
        {% endif %}
        
    {% else %} <!-- No drug records available -->
        
        <div class="row"> 

            No drugs found.
        
        </div> <!-- row -->
        
    {% endif %} <!-- if Records > 0 -->


    </div>   <!-- large 12 columns -->

    </div>   <!-- row -->

<!-- **** Foundation BUG ; Need to re-initialize foundation to activate dynamic content. **** -->
   <script>$(document).foundation();</script>

<!-- End of Data (AJAX) Section -->

{% endautoescape %}
